openapi: 3.2.0
info:
  title: HyperTrack Workers API
  version: '1.0'
  description: HyperTrack API Reference — Orders, Workers, Places, Routes, and more.
  contact:
    name: HyperTrack support
    url: https://hypertrack.com/contact
    email: help@hypertrack.com
servers:
- url: https://v3.api.hypertrack.com
tags:
- name: Workers
paths:
  /workers/:
    get:
      parameters:
      - in: query
        name: from_date
        description: 'ISO 8601 date format (''yyyy-MM-dd'') indicating the start date to be used for the summary computation.<br>Default: Current date in UTC.'
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: to_date
        description: 'ISO 8601 date format (''yyyy-MM-dd'') indicating the end date to be used for the summary computation.<br>Default: Current date in UTC.'
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: limit
        description: Number of workers to be sent in response
        schema:
          type:
          - integer
          - 'null'
          default: 25
        required: false
      - in: query
        name: include_schedule
        description: Flag to include worker's schedule in the response.
        schema:
          type: boolean
          default: true
        required: false
      - in: query
        name: include_summary
        description: Flag to include worker's summary stats in the response.
        schema:
          type: boolean
          default: true
        required: false
      - in: query
        name: ops_group_handle
        description: List of ops group handles as comma separated strings used to filter workers.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: profile
        description: Profile filter to be applied on the list of workers
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: worker_handle
        description: List of worker handles as comma separated strings used for fetching associated workers
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: search_term
        description: Keyword to match against worker handle, name, or profile
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: pagination_token
        description: Identifier used to fetch the next page of data
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: device_id
        description: Unique identifier for a worker's device. This field is present in case the worker is currently linked with a device
        schema:
          type:
          - string
          - 'null'
          format: uuid
        required: false
      - in: query
        name: include_deleted
        description: Flag to include deleted workers
        schema:
          type: boolean
          default: false
        required: false
      - in: query
        name: from_time
        description: ISO 8601 datetime indicating the start time to be used for computing summary, status.
        schema:
          type:
          - string
          - 'null'
          format: date-time
          deprecated: true
        required: false
      - in: query
        name: to_time
        description: ISO 8601 datetime indicating the end time to be used for computing summary, status.
        schema:
          type:
          - string
          - 'null'
          format: date-time
          deprecated: true
        required: false
      - in: query
        name: filter_outage
        description: Filter workers on a particular outage code.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: filter_outage_category
        description: 'List of comma separated outage categories to be used for filtering workers. Valid categories: `behavioural`,`adversarial`,`reachability`,`os`,`sporadic`'
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: filter_geofence_metadata
        description: geofence_metadata filter for aggregate response
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: aggregate
        description: Flag set to retrieve aggregated data over the provided time range
        schema:
          type: boolean
          default: false
        required: false
      - in: query
        name: work_status
        description: URL-encoded json string specifying filters on availability or tracking.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: filter_status
        description: Only list workers that are currently active/inactive/disconnected.
        schema:
          type:
          - string
          - 'null'
          enum:
          - active
          - inactive
          - disconnected
        required: false
      - in: query
        name: tracked
        description: If set to true, only shows workers that were actually tracked during the specified period.
        schema:
          type:
          - boolean
          - 'null'
        required: false
      - in: query
        name: worked
        description: If set to true, only shows workers that actually during the specified period.
        schema:
          type:
          - boolean
          - 'null'
        required: false
      - in: query
        name: intended_to_track
        description: If set to true, only shows workers that was supposed to be tracked during the specified period.
        schema:
          type:
          - boolean
          - 'null'
        required: false
      - in: query
        name: include_lp
        description: Flag to include location permission stats in response (only applicable when `aggregate=True`).
        schema:
          type:
          - boolean
          - 'null'
          default: false
        required: false
      - in: query
        name: region_filter
        description: URL-encoded JSON string used to filter workers from a particular region. Ex `{"city":"Detroit"}`
        schema:
          type:
          - string
          - 'null'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkersResponse'
              examples:
                Filter on profile:
                  summary: Filter on profile
                  value:
                    workers:
                    - created_at: 2023-10-18 12:41:59.865000+00:00
                      device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                      device_info:
                        device_brand: OnePlus
                        device_model: DN2111
                        network_operator: JIO 4G
                        os_hardware_identifier: 10b653a2c0a09e77
                        os_name: Android
                        os_version: '11'
                        sdk_version: 7.0.9+a5a509f3
                        timezone: Asia/Kolkata
                      device_status:
                        data:
                          activity: drive
                          recorded_at: 2023-10-24 16:27:52.768000+00:00
                        value: active
                      devices:
                      - device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                        start_time: 2023-10-183T20:42:38Z
                      - device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                        start_time: 2023-10-183T16:02:38Z
                        end_time: 2023-10-183T20:41:38Z
                      worker_handle: james@ht.com
                      location:
                        accuracy: 19.35
                        bearing: 352.97
                        geometry:
                          coordinates:
                          - -121.94186
                          - 37.3570492
                          - -44.01
                          type: Point
                        speed: 20.2
                      name: James
                      ops_group_handle: store-sf
                      product_types:
                      - plumbing
                      - hardware
                      profile:
                        zoneId: '4'
                      schedule:
                      - day_of_week: MONDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: TUESDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: WEDNESDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: THURSDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: FRIDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: SATURDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: SUNDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      home:
                        address: 777 Story Rd, San Jose, CA 95122
                        geometry:
                          type: Point
                          coordinates:
                          - -121.8624398
                          - 37.3304521
                        radius: 100
                      work_status:
                        available: false
                        tracking: true
                      location_permission:
                        recorded_at: 2023-12-19 12:29:54.321000+00:00
                        state: always
                      unavailable_on:
                      - 2023-12-15
                      summary:
                        orders:
                          completed: 4
                          cancelled: 1
                          assigned: 0
                          tracked: 5
                          total: 6
                        geotags: 4
                        visits: 4
                        distance: null
                        duration: null
                        tracking_rate: null
                    - created_at: 2023-10-06 12:00:45.221000+00:00
                      device_id: 71284FFE-D949-4FF7-B238-44C667BE8EF4
                      device_status:
                        data:
                          recorded_at: 2023-10-24 12:51:25.995000+00:00
                        value: disconnected
                      worker_handle: smith@ht.com
                      location:
                        accuracy: 35
                        bearing: 280.3
                        geometry:
                          coordinates:
                          - 20.016091
                          - 50.103046
                          - 250.59
                          type: Point
                        speed: 0
                      name: fero
                      ops_group_handle: store-sjc
                      profile:
                        zoneId: '4'
                      work_status:
                        available: false
                        tracking: true
                    - created_at: 2023-07-13 15:05:31.341000+00:00
                      worker_handle: rick@ht.com
                      ops_group_handle: store-okl
                      profile:
                        zoneId: '4'
                      schedule:
                      - day_of_week: MONDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: TUESDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: WEDNESDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: THURSDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: FRIDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: SATURDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: SUNDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      work_status:
                        available: false
                        tracking: false
                    pagination_token: eyJwYWdlX251bWJlciI6IDIzLCJsYXN0X2l0ZW1faWQiOiAxMjM0NQ==
                Filter on ops group:
                  summary: Filter on ops group
                  value:
                    workers:
                    - created_at: 2023-07-13 15:05:31.341000+00:00
                      worker_handle: rick@ht.com
                      ops_group_handle: store-okl
                      profile:
                        zoneId: '4'
                      schedule:
                      - day_of_week: MONDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: TUESDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: WEDNESDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: THURSDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: FRIDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: SATURDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      - day_of_week: SUNDAY
                        end_time: 1080
                        ops_group_handle: store-sf
                        priority: null
                        start_time: 09:00
                      work_status:
                        available: false
                        tracking: false
                    pagination_token: eyJwYWdlX251bWJlciI6IDIzLCJsYXN0X2l0ZW1faWQiOiAxMjM0NQ==
                Filter on worker handle:
                  summary: Filter on worker handle
                  value:
                    workers:
                    - created_at: 2023-10-18 12:41:59.865000+00:00
                      device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                      device_status:
                        data:
                          activity: drive
                          recorded_at: 2023-10-24 16:27:52.768000+00:00
                        value: active
                      worker_handle: james@ht.com
                      location:
                        accuracy: 19.35
                        bearing: 352.97
                        geometry:
                          coordinates:
                          - -121.94186
                          - 37.3570492
                          - -44.01
                          type: Point
                        speed: 20.2
                      name: James
                      ops_group_handle: store-sf
                      profile:
                        zoneId: '4'
                      work_status:
                        available: false
                        tracking: true
                Filter on work status:
                  summary: Filter on work status
                  value:
                    workers:
                    - created_at: 2023-10-18 12:41:59.865000+00:00
                      device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                      device_status:
                        data:
                          activity: drive
                          recorded_at: 2023-10-24 16:27:52.768000+00:00
                        value: active
                      worker_handle: james@ht.com
                      location:
                        accuracy: 19.35
                        bearing: 352.97
                        geometry:
                          coordinates:
                          - -121.94186
                          - 37.3570492
                          - -44.01
                          type: Point
                        speed: 20.2
                      name: James
                      ops_group_handle: store-sf
                      profile:
                        zoneId: '4'
                      work_status:
                        available: true
                        tracking: false
                    - created_at: 2023-10-06 12:00:45.221000+00:00
                      device_id: 71284FFE-D949-4FF7-B238-44C667BE8EF4
                      device_status:
                        data:
                          recorded_at: 2023-10-24 12:51:25.995000+00:00
                        value: disconnected
                      worker_handle: smith@ht.com
                      location:
                        accuracy: 35
                        bearing: 280.3
                        geometry:
                          coordinates:
                          - 20.016091
                          - 50.103046
                          - 250.59
                          type: Point
                        speed: 0
                      name: fero
                      ops_group_handle: store-sjc
                      profile:
                        zoneId: '4'
                      work_status:
                        available: true
                        tracking: false
                    pagination_token: eyJwYWdlX251bWJlciI6IDIzLCJsYXN0X2l0ZW1faWQiOiAxMjM0NQ==
                Fetch aggregate:
                  summary: Fetch aggregate
                  value:
                    aggregate:
                      geotags:
                        count: 107
                        deviation: 2300
                        distance: 8035
                        duration: 14583
                      orders:
                        count:
                          assigned: 22
                          cancelled: 516
                          completed: 634
                          ongoing: 8
                          total: 1261
                        deviation: 365
                        distance: 8035
                        duration: 18374
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Get Workers
      description: Fetch workers in a paginated list
      security:
      - BasicAuth: []
      - TokenAuth: []
    post:
      parameters: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostWorkerResponse'
              example:
                worker_handle: james@ht.com
                ops_group_handle: store-sf
                product_types:
                - plumbing
                - hardware
                device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
                profile:
                  workerId: '0012244'
                  vehicle: Ford F-150
                  zoneId: '4'
                status:
                  available: false
                  working: false
                schedule:
                - start_time: 09:00
                  end_time: 1080
                  day_of_week: MONDAY
                - start_time: 09:00
                  end_time: 1080
                  day_of_week: TUESDAY
                - start_time: 09:00
                  end_time: 1080
                  day_of_week: WEDNESDAY
                - start_time: 09:00
                  end_time: 1080
                  day_of_week: THURSDAY
                - start_time: 09:00
                  end_time: 1080
                  day_of_week: FRIDAY
                created_at: 2023-06-01 02:00:00+00:00
                home:
                  address: 777 Story Rd, San Jose, CA 95122
                  geometry:
                    type: Point
                    coordinates:
                    - -121.8624398
                    - 37.3304521
                  radius: 100
                device_status:
                  value: unavailable
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Create Worker
      description: Create a worker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWorkerRequest'
            example:
              worker_handle: james@ht.com
              ops_group_handle: store-sf
              product_types:
              - plumbing
              - hardware
              device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
              profile:
                workerId: '0012244'
                vehicle: Ford F-150
                zoneId: '4'
              schedule:
              - start_time: 09:00
                end_time: 1080
                day_of_week: MONDAY
              - start_time: 09:00
                end_time: 1080
                day_of_week: TUESDAY
              - start_time: 09:00
                end_time: 1080
                day_of_week: WEDNESDAY
              - start_time: 09:00
                end_time: 1080
                day_of_week: THURSDAY
              - start_time: 09:00
                end_time: 1080
                day_of_week: FRIDAY
              home:
                address: 777 Story Rd, San Jose, CA 95122
                geometry:
                  type: Point
                  coordinates:
                  - -121.8624398
                  - 37.3304521
                radius: 100
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/locate:
    get:
      parameters:
      - in: query
        name: request_id
        description: Unique identifier returned by POST /workers/{worker_handle}/locate.
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocateResponse'
              examples:
                locate_completed_location_response_example:
                  summary: 'Completed: a device returned a fresh location.'
                  value:
                    request_id: 00000000-aaaa-bbbb-cccc-111122223333
                    worker_handle: worker001
                    status: completed
                    created_at: 2026-06-03 05:46:57.096000+00:00
                    updated_at: 2026-06-03 05:47:10.780000+00:00
                    completed_at: 2026-06-03 05:47:10.780000+00:00
                    devices:
                    - device_id: AAA11111-BBBB-2222-CCCC-3333DDDD4444
                      status: completed
                      completed_at: 2026-06-03 05:47:10.744000+00:00
                      location:
                        geometry:
                          type: Point
                          coordinates:
                          - -119.60121
                          - 34.4225
                locate_completed_outage_response_example:
                  summary: 'Completed with an outage: location permission denied and imprecise.'
                  value:
                    request_id: 00000000-aaaa-bbbb-cccc-111122223333
                    worker_handle: worker001
                    status: completed
                    created_at: 2026-06-03 05:16:03.109000+00:00
                    updated_at: 2026-06-03 05:16:17.146000+00:00
                    completed_at: 2026-06-03 05:16:17.146000+00:00
                    devices:
                    - device_id: AAA11111-BBBB-2222-CCCC-3333DDDD4444
                      status: completed
                      completed_at: 2026-06-03 05:16:17.114000+00:00
                      outage_reasons:
                      - code: location_permissions_denied
                        label: Location permission denied
                        category: behavioural
                        description: Location permission is denied by the worker. The worker should grant it in Settings > Apps > [App name] > Permissions > Location
                        duration: 0
                        distance: 0
                      - code: location_permission_imprecise
                        label: Location imprecise
                        category: behavioural
                        description: The worker did not grant precise location permissions or downgraded permissions to imprecise. The worker should grant precise location permission in Settings > Apps > [App name] > Permissions > Location > Use precise location
                        duration: 0
                        distance: 0
                locate_completed_disconnected_response_example:
                  summary: Completed but the SDK did not wake within budget (device disconnected).
                  value:
                    request_id: 00000000-aaaa-bbbb-cccc-111122223333
                    worker_handle: worker001
                    status: completed
                    created_at: 2026-06-03 00:00:00+00:00
                    updated_at: 2026-06-03 00:05:00+00:00
                    completed_at: 2026-06-03 00:05:00+00:00
                    devices:
                    - device_id: AAA11111-BBBB-2222-CCCC-3333DDDD4444
                      status: completed
                      completed_at: 2026-06-03 00:05:00+00:00
                      device_status:
                        value: disconnected
                        data:
                          reason: sdk_did_not_respond_within_budget
                          budget_seconds: 300
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Poll the state of a worker locate request
      description: 'Returns the current state of a locate request. The response shape matches both the POST response and the `locate` webhook payload. Once `status` is `completed`, inspect each `devices[]` entry for its outcome: a fresh `location`, `outage_reasons` when the SDK reported outages, or a `device_status` of `disconnected` when the SDK did not wake within the budget.'
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/export:
    post:
      parameters: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerExportResponse'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Create a worker export job
      description: Creates an asynchronous job to export workers to CSV.gz file. Returns a job_id that can be used to check status. Download link will be sent via email when ready.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WorkerExportRequest'
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/ops-groups/:
    get:
      parameters:
      - in: query
        name: pagination_token
        description: Identifier used to fetch the next page of data
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: include_deleted
        description: Flag to include deleted ops groups
        schema:
          type: boolean
          default: false
        required: false
      - in: query
        name: include_schedule
        description: Flag to include ops group's schedule in the response.
        schema:
          type: boolean
          default: true
        required: false
      - in: query
        name: limit
        description: Number of ops groups to be sent in the response.
        schema:
          type:
          - integer
          - 'null'
          default: 100
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOpsGroupsResponse'
              example:
                ops_groups:
                - ops_group_handle: san-jose-store
                  ops_group_label: store
                  timezone: America/Los_Angeles
                  route_start_location: ops_group_home
                  route_completion_type: manual
                  ops_group_home:
                    geometry:
                      type: Point
                      coordinates:
                      - -121.94186
                      - 37.3570534
                    address: 1709 Automation Pkwy, San Jose, CA 95101
                  objective_fn: minimise_time
                  route_capacity: 10
                  route_max_distance: 20000
                  default_shift_start_time: 07:00
                  default_shift_end_time: 1140
                  order_tracking_mode: auto
                  shift_availability_mode: auto
                  order_tracking_automation:
                    type: manual
                - ops_group_handle: santa-clara-store
                  ops_group_label: store
                  timezone: America/Los_Angeles
                  route_start_location: ops_group_home
                  route_completion_type: manual
                  ops_group_home:
                    geometry:
                      type: Point
                      coordinates:
                      - -121.8871193
                      - 37.3906152
                    address: 1601 Coleman Ave, Santa Clara, CA 95050
                  objective_fn: minimise_time
                  route_capacity: 10
                  route_max_distance: 25000
                  default_shift_start_time: 07:00
                  default_shift_end_time: 1140
                  order_tracking_mode: manual
                  shift_availability_mode: manual
                  order_tracking_automation:
                    type: manual
                pagination_token: cGFnaW5hdGlvbl90b2tlbg==
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: List Ops Groups
      description: Fetch all ops groups
      security:
      - BasicAuth: []
      - TokenAuth: []
    post:
      parameters: []
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostOpsGroupResponse'
              example:
                ops_group_handle: san-jose-store
                ops_group_label: store
                timezone: America/Los_Angeles
                route_start_location: ops_group_home
                route_completion_type: manual
                ops_group_home:
                  geometry:
                    type: Point
                    coordinates:
                    - -121.93186
                    - 36.3570534
                  address: 1709 Automation Pkwy, San Jose, CA 95101
                objective_fn: minimise_time
                route_capacity: 10
                route_max_distance: 20000
                default_shift_start_time: 07:00
                default_shift_end_time: 1140
                order_tracking_mode: manual
                shift_availability_mode: auto
                order_tracking_automation:
                  type: shift
                  mode: auto
                  lead_time: 3600
                  lag_time: 0
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Create Ops Group
      description: Create an ops group to manage your workforce and orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostOpsGroupRequest'
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/{worker_handle}:
    get:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      - in: query
        name: include_deleted
        description: Flag to fetch deleted worker
        schema:
          type: boolean
          default: false
        required: false
      - in: query
        name: from_time
        description: 'ISO 8601 datetime indicating the start time. Default time range 24 hours. '
        schema:
          type:
          - string
          - 'null'
          format: date-time
        required: false
      - in: query
        name: to_time
        description: ISO 8601 datetime indicating the end time. Default time range 24 hours.
        schema:
          type:
          - string
          - 'null'
          format: date-time
        required: false
      - in: query
        name: date
        description: 'ISO 8601 date format (''yyyy-MM-dd'') indicating date to be used for the summary computation.<br> Default: current date in worker''s timezone.'
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: include_summary
        description: Flag to include worker summary. Default true.
        schema:
          type: boolean
          default: true
        required: false
      - in: query
        name: include_schedule
        description: Flag to include worker schedule. Default true.
        schema:
          type: boolean
          default: true
        required: false
      - in: query
        name: include_timeline
        description: Flag to include worker timeline. Default false.
        schema:
          type: boolean
          default: false
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkerTimelineResponse'
              example:
                worker_handle: james@ht.com
                name: James
                ops_group_handle: store-sf
                product_types:
                - plumbing
                - hardware
                device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
                profile:
                  workerId: '0012244'
                  vehicle: Ford F-150
                  zoneId: '4'
                status:
                  available: false
                  working: false
                schedule:
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: MONDAY
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: TUESDAY
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: WEDNESDAY
                created_at: 2023-06-01 02:00:00+00:00
                home:
                  address: 777 Story Rd, San Jose, CA 95122
                  geometry:
                    type: Point
                    coordinates:
                    - -121.8624398
                    - 37.3304521
                  radius: 100
                location:
                  accuracy: 17.47
                  geometry:
                    coordinates:
                    - -121.877304
                    - 37.371943
                    - 29.26
                    type: Point
                  speed: 0
                device_status:
                  data:
                    activity: drive
                    recorded_at: 2023-10-03 20:42:44.969000+00:00
                  value: active
                devices:
                - device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
                  start_time: 2023-10-03 20:42:38+00:00
                summary:
                  orders:
                    completed: 4
                    cancelled: 1
                    assigned: 0
                    ongoing: 2
                  geotags: 4
                  visits: 4
                  distance: 3000
                  duration: 120
                  tracking_rate: 92.8
                work_started_at: 2023-06-06 14:00:00+00:00
                timeline:
                - type: route_started
                  recorded_at: 2023-06-06 14:00:00+00:00
                  route_handle: route_1
                  data: {}
                  location:
                    geometry:
                      type: Point
                      coordinates:
                      - -121.8624398
                      - 37.3304521
                - type: order_completed
                  recorded_at: 2023-06-06 14:15:00+00:00
                  order_handle: order_1
                  data: {}
                  location:
                    geometry:
                      type: Point
                      coordinates:
                      - -121.8624389
                      - 37.3304522
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Get Worker By Handle
      description: Fetch the details for a worker using the worker_handle
      security:
      - BasicAuth: []
      - TokenAuth: []
    patch:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchWorkerResponse'
              example:
                worker_handle: james@ht.com
                ops_group_handle: store-sf
                product_types:
                - plumbing
                - hardware
                device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
                profile:
                  workerId: '0012244'
                  vehicle: Ford F-150
                  zoneId: '4'
                status:
                  available: false
                  working: false
                schedule:
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: MONDAY
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: TUESDAY
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: WEDNESDAY
                created_at: 2023-06-01 02:00:00+00:00
                home:
                  address: 777 Story Rd, San Jose, CA 95122
                  geometry:
                    type: Point
                    coordinates:
                    - -121.8624398
                    - 37.3304521
                  radius: 100
                device_status:
                  data:
                    activity: drive
                    recorded_at: 2023-10-03 20:42:44.969000+00:00
                  value: active
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Patch Worker
      description: Update worker information using the worker_handle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchWorkerRequest'
            example:
              schedule:
              - start_time: 02:00
                end_time: 1080
                day_of_week: MONDAY
              - start_time: 02:00
                end_time: 1080
                day_of_week: TUESDAY
              - start_time: 02:00
                end_time: 1080
                day_of_week: WEDNESDAY
      security:
      - BasicAuth: []
      - TokenAuth: []
    delete:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Worker deleted successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      tags:
      - Workers
      summary: Delete Worker
      description: Delete a worker
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/export/{job_id}:
    get:
      parameters:
      - in: path
        name: job_id
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerExportStatusResponse'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
      tags:
      - Workers
      summary: Get worker export job status
      description: Check the status of a worker export job by job_id. Returns current status, progress, and download URL when completed.
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/{worker_handle}/invite:
    post:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostWorkerInviteResponse'
              example:
                worker_handle: james@ht.com
                link: https://hypertrack-logistics.app.link/wqepoifv8f34c
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Invite Worker
      description: Generate a HyperTrack app (`ORDERS` or `VISITS`) installation link to be shared with the worker
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostWorkerInviteRequest'
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/{worker_handle}/locate:
    post:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LocateResponse'
              examples:
                locate_pending_response_example:
                  summary: Locate accepted; request is pending while the SDK is woken and devices are polled.
                  value:
                    request_id: 00000000-aaaa-bbbb-cccc-111122223333
                    worker_handle: worker001
                    status: pending
                    created_at: 2026-06-03 05:46:57.096000+00:00
                    updated_at: 2026-06-03 05:46:57.096000+00:00
                    devices:
                    - device_id: AAA11111-BBBB-2222-CCCC-3333DDDD4444
                      status: pending
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Locate a worker
      description: Initiates an async worker locate. The implementation sets the worker's availability=true (waking the SDK), pulls a fresh location from each currently-linked device, then sets availability back to false. Returns immediately with a request_id; poll the GET endpoint or listen for the `locate` webhook for the final result.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLocateRequest'
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/{worker_handle}/history:
    get:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      - in: query
        name: from_time
        description: ISO 8601 datetime indicating the start time
        schema:
          type:
          - string
          - 'null'
          format: date-time
        required: false
      - in: query
        name: to_time
        description: ISO 8601 datetime indicating the end time
        schema:
          type:
          - string
          - 'null'
          format: date-time
        required: false
      - in: query
        name: date
        description: Date in ISO 8601 format ('yyyy-MM-dd').
        schema:
          type:
          - string
          - 'null'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetWorkerHistoryResponse'
              example:
                worker_handle: james@ht.com
                locations:
                  type: LineString
                  coordinates:
                  - - -118.460831
                    - 34.032051
                    - 13.2
                    - 2023-07-15 00:10:48.972000+00:00
                  - - -118.460821
                    - 34.032056
                    - 13.2
                    - 2023-07-15 01:44:14.028000+00:00
                  - - -118.460828
                    - 34.032056
                    - 13.2
                    - 2023-07-15 04:44:19.203000+00:00
                markers:
                - device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
                  timestamp: 2023-04-24 19:19:59.569000+00:00
                  type: device_linked
                - type: device_status
                  data:
                    start:
                      recorded_at: 2023-07-15 00:00:00+00:00
                      location:
                        recorded_at: 2023-07-15 00:10:48.972000+00:00
                        geometry:
                          type: Point
                          coordinates:
                          - -118.460831
                          - 34.032051
                    end:
                      recorded_at: 2023-07-16 17:51:30.068000+00:00
                      location:
                        recorded_at: 2023-07-16 17:51:30.068000+00:00
                        geometry:
                          type: Point
                          coordinates:
                          - -118.460847
                          - 34.032045
                    duration: 150690
                    value: active
                    address: 12511 Venice Blvd., Los Angeles, CA 90066
                    activity: stop
                    steps: 10
                    bubble:
                      centroid:
                      - -118.4372615
                      - 34.0033542
                      radius: 5
                  marker_id: c067c38c-e9a9-4fb2-b304-f8682ed3ad6b
                - type: device_status
                  data:
                    start:
                      recorded_at: 2023-07-16 17:51:30.068000+00:00
                      location:
                        recorded_at: 2023-07-16 17:51:30.068000+00:00
                        geometry:
                          type: Point
                          coordinates:
                          - -118.460847
                          - 34.032045
                    end:
                      recorded_at: 2023-07-16 18:07:14.320000+00:00
                      location:
                        recorded_at: 2023-07-16 18:07:14.320000+00:00
                        geometry:
                          type: Point
                          coordinates:
                          - -118.517871
                          - 34.034686
                    duration: 944
                    value: active
                    activity: drive
                    distance: 8311
                  marker_id: 3329f37e-cc88-4631-ac7b-1652d1cf2eea
                - type: device_status
                  data:
                    start:
                      recorded_at: 2023-07-16 18:07:14.320000+00:00
                      location:
                        recorded_at: 2023-07-16 18:07:14.320000+00:00
                        geometry:
                          type: Point
                          coordinates:
                          - -118.517871
                          - 34.034686
                    end:
                      recorded_at: 2023-07-16 18:17:17.487000+00:00
                      location:
                        recorded_at: 2023-07-16 18:17:17.487000+00:00
                        geometry:
                          type: Point
                          coordinates:
                          - -118.517892
                          - 34.034684
                    duration: 603
                    value: active
                    address: East Rustic Road, Pacific Palisades, LA, Los Angeles, California, 90402, United States of America
                    activity: stop
                    steps: 179
                    bubble:
                      centroid:
                      - -118.517875
                      - 34.034703
                      radius: 6
                  marker_id: fe82c586-295a-406a-8b5a-63e1b4e9bb44
                - type: device_status
                  data:
                    start:
                      recorded_at: 2023-07-16 18:17:17.487000+00:00
                      location:
                        recorded_at: 2023-07-16 18:17:17.487000+00:00
                        geometry:
                          type: Point
                          coordinates:
                          - -118.517892
                          - 34.034684
                    end:
                      recorded_at: 2023-07-16 18:20:43.427000+00:00
                      location:
                        recorded_at: 2023-07-16 18:20:43.427000+00:00
                        geometry:
                          type: Point
                          coordinates:
                          - -118.516617
                          - 34.032466
                    duration: 206
                    value: active
                    activity: drive
                    distance: 837
                  marker_id: de4882aa-4a93-4614-a15f-844eb4987370
                started_at: 2023-07-15 00:00:00+00:00
                completed_at: 2023-07-17 00:00:00+00:00
                distance: 66410
                duration: 172799
                steps: 423
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Get Worker History
      description: Generate and fetch the worker history for the provided time range
      deprecated: true
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/{worker_handle}/undelete:
    post:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UndeleteWorkerResponse'
              example:
                worker_handle: james@ht.com
                ops_group_handle: store-sf
                product_types:
                - plumbing
                - hardware
                device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
                profile:
                  workerId: '0012244'
                  vehicle: Ford F-150
                  zoneId: '4'
                status:
                  available: false
                  working: false
                schedule:
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: MONDAY
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: TUESDAY
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: WEDNESDAY
                created_at: 2023-06-01 02:00:00+00:00
                home:
                  address: 777 Story Rd, San Jose, CA 95122
                  geometry:
                    type: Point
                    coordinates:
                    - -121.8624398
                    - 37.3304521
                  radius: 100
                device_status:
                  data:
                    activity: drive
                    recorded_at: 2023-10-03 20:42:44.969000+00:00
                  value: active
                deleted: false
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
      tags:
      - Workers
      summary: Undelete Worker
      description: Undelete a previously deleted worker identified by the worker_handle
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/{worker_handle}/approvers:
    get:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      - in: query
        name: limit
        description: Maximum number of approvers to return
        schema:
          type:
          - integer
          - 'null'
          default: 100
        required: false
      - in: query
        name: pagination_token
        description: Token for pagination to get next page of results
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: approver_type
        description: Filter by approver type
        schema:
          enum:
          - worker
          - dashboard_user
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerApproverListResponse'
              example:
                approvers:
                - worker_handle: worker_456
                  approver_id: user_123
                  approver_type: worker
                  created_at: 2025-01-15 10:30:00+00:00
                  updated_at: null
                - worker_handle: worker_456
                  approver_id: manager_789
                  approver_type: dashboard_user
                  created_at: 2025-01-15 09:15:00+00:00
                  updated_at: null
                total_count: 2
                limit: 100
                pagination_token: eyJsYXN0X2NyZWF0ZWRfYXQiOiIyMDI1LTAxLTE1VDA5OjE1OjAwWiIsImxhc3RfYXBwcm92ZXJfaWQiOiJtYW5hZ2VyXzc4OSJ9
          description: List of worker approvers retrieved successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                worker_not_found:
                  summary: driver_not_found
                  value:
                    code: driver_not_found
                    title: Worker Not Found
                    detail:
                      description: Worker not found for handle worker_456
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: List Worker Approvers
      description: Get a list of all approvers for a specific worker with optional filtering and token-based pagination.
      security:
      - BasicAuth: []
      - TokenAuth: []
    post:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkerApproverResponse'
              example:
                worker_handle: worker_456
                approver_id: user_123
                approver_type: worker
                created_at: 2025-01-15 10:30:00+00:00
                updated_at: null
          description: Worker approver created successfully
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                invalid_approver_type:
                  summary: validation_error
                  value:
                    code: validation_error
                    title: Validation Error
                    detail: 'Invalid approver_type: invalid_type. Must be one of [''worker'', ''dashboard_user'']'
                approver_already_exists:
                  summary: approver_already_exists
                  value:
                    code: approver_already_exists
                    title: Validation Error
                    detail: Approver user_123 already exists for worker worker_456
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                worker_not_found:
                  summary: driver_not_found
                  value:
                    code: driver_not_found
                    title: Worker Not Found
                    detail:
                      description: Worker not found for handle worker_456
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Create Worker Approver
      description: Create a new approver for a worker. The approver can be either a worker or a dashboard user.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWorkerApproverRequest'
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/{worker_handle}/work_status:
    post:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetWorkerStatusResponse'
              example:
                worker_handle: james@ht.com
                ops_group_handle: store-sf
                product_types:
                - plumbing
                - hardware
                device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
                profile:
                  workerId: '0012244'
                  vehicle: Ford F-150
                  zoneId: '4'
                status:
                  available: true
                  working: false
                schedule:
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: MONDAY
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: TUESDAY
                - start_time: 02:00
                  end_time: 1080
                  day_of_week: WEDNESDAY
                created_at: 2023-06-01 02:00:00+00:00
                home:
                  address: 777 Story Rd, San Jose, CA 95122
                  geometry:
                    type: Point
                    coordinates:
                    - -121.8624398
                    - 37.3304521
                  radius: 100
                device_status:
                  data:
                    activity: drive
                    recorded_at: 2023-10-03 20:42:44.969000+00:00
                  value: active
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Set Worker Work Status
      description: Set the work status of a worker identified by the worker_handle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetWorkerStatusRequest'
            example:
              available: true
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/ops-groups/{ops_group_handle}:
    get:
      parameters:
      - in: path
        name: ops_group_handle
        schema:
          type: string
        required: true
      - in: query
        name: include_schedule
        description: Flag to include ops group's schedule in the response.
        schema:
          type: boolean
          default: true
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOpsGroupResponse'
              example:
                ops_group_handle: san-jose-store
                ops_group_label: store
                timezone: America/Los_Angeles
                route_start_location: ops_group_home
                route_completion_type: manual
                ops_group_home:
                  geometry:
                    type: Point
                    coordinates:
                    - -121.94186
                    - 37.3570534
                  address: 1709 Automation Pkwy, San Jose, CA 95101
                objective_fn: minimise_time
                route_capacity: 10
                route_max_distance: 20000
                default_shift_start_time: 07:00
                default_shift_end_time: 1140
                order_tracking_mode: manual
                shift_availability_mode: manual
                order_tracking_automation:
                  type: manual
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Get Ops Group by Handle
      description: Fetch ops group by ops_group_handle
      security:
      - BasicAuth: []
      - TokenAuth: []
    patch:
      parameters:
      - in: path
        name: ops_group_handle
        schema:
          type: string
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchOpsGroupResponse'
              example:
                ops_group_handle: san-jose-store
                ops_group_label: store
                timezone: America/Los_Angeles
                route_start_location: ops_group_home
                route_completion_type: manual
                ops_group_home:
                  geometry:
                    type: Point
                    coordinates:
                    - -121.93186
                    - 36.3570534
                  address: 1709 Automation Pkwy, San Jose, CA 95101
                objective_fn: minimise_time
                route_capacity: 10
                route_max_distance: 20000
                default_shift_start_time: 07:00
                default_shift_end_time: 1140
                order_tracking_mode: manual
                shift_availability_mode: manual
                order_tracking_automation:
                  type: manual
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Not found
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Workers
      summary: Update Ops Group
      description: Update Ops Group by ops_group_handle
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchOpsGroupRequest'
      security:
      - BasicAuth: []
      - TokenAuth: []
  /workers/{worker_handle}/approvers/{approver_id}:
    delete:
      parameters:
      - in: path
        name: worker_handle
        schema:
          type: string
        required: true
      - in: path
        name: approver_id
        schema:
          type: string
        required: true
      responses:
        '204':
          description: Worker approver deleted successfully
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                worker_not_found:
                  summary: driver_not_found
                  value:
                    code: driver_not_found
                    title: Worker Not Found
                    detail:
                      description: Worker not found for handle worker_456
                approver_not_found:
                  summary: worker_approver_not_found
                  value:
                    code: worker_approver_not_found
                    title: Worker Approver Not Found
                    detail:
                      description: 'Worker approver not found for worker_handle: worker_456, approver_id: user_123'
      tags:
      - Workers
      summary: Delete Worker Approver
      description: Remove a specific approver from a worker.
      security:
      - BasicAuth: []
      - TokenAuth: []
components:
  schemas:
    DriverOutageSummary:
      type: object
      properties:
        code:
          type: string
          description: Code indicating the type of outage
        label:
          type: string
          description: Text indicating the type of outage
        description:
          type: string
          description: Text describing the outage.
        category:
          type: string
          enum:
          - behavioural
          - adversarial
          - reachability
          - os
          - sporadic
          description: String indicating the category of outage
        duration:
          type: integer
          description: Sum total duration of all outages experienced with this `code` in the specified time range.
        distance:
          type: integer
          description: Sum total (estimated) distance covered during all outages experienced with this `code` in the specified time range.
      required:
      - category
      - code
      - description
      - distance
      - duration
      - label
    GetWorkerHistoryResponse:
      type: object
      properties:
        worker_handle:
          type: string
          description: Unique customer provided identifier for a worker
        locations:
          description: List of locations for the worker's device
          allOf:
          - $ref: '#/components/schemas/LineStringLocation1'
        markers:
          type: array
          description: List of markers summarising the history of the worker
          items:
            type: object
            additionalProperties: {}
        started_at:
          type: string
          description: Time from where the history is requested from
        completed_at:
          type: string
          description: Time to where the history is requested to
        distance:
          type: integer
          description: Distance tracked during the duration of history
        duration:
          type: integer
          description: Duration tracked during the duration of history
        steps:
          type: integer
          description: Number of steps taken by worker during the duration of history
      required:
      - completed_at
      - distance
      - duration
      - locations
      - markers
      - started_at
      - steps
      - worker_handle
    PatchWorkerRequest:
      type: object
      properties:
        device_id:
          type:
          - string
          - 'null'
          format: uuid
          description: Unique ID representing the worker's device
        name:
          type:
          - string
          - 'null'
          description: Name of the worker
        ops_group_handle:
          type:
          - string
          - 'null'
          description: Unique identifier for an Ops Group to which the worker belongs
        home:
          description: Worker's home location
          anyOf:
          - $ref: '#/components/schemas/LocationWithoutRadius1'
        product_types:
          type:
          - array
          - 'null'
          description: List of product types used for worker matching during order planning
          items:
            type: string
        schedule:
          type:
          - array
          - 'null'
          description: List of schedules used for worker matching during order planning and auto start/stop of availability or tracking of the worker
          items:
            oneOf:
            - $ref: '#/components/schemas/DriverDateSchedule'
            - $ref: '#/components/schemas/DriverRecurringSchedule'
        profile:
          type:
          - object
          - 'null'
          description: Additional customer provided data associated with a worker
          additionalProperties: {}
        unavailable_on:
          type:
          - array
          - 'null'
          description: List of dates (YYYY-MM-DD) on which the worker is unavailable
          items:
            type: string
        transfer_existing_work:
          type:
          - boolean
          - 'null'
          default: true
          description: Flag to indicate whether existing work of the worker is to be transferred to the newly linked device.Only applicable at the time of linking worker with a device.
    SetWorkerStatusResponse:
      type: object
      properties:
        worker_handle:
          type: string
          description: Unique customer provided identifier for a worker
        name:
          type:
          - string
          - 'null'
          description: Name of the worker
        ops_group_handle:
          type: string
          description: Unique identifier for an Ops Group to which the worker belongs
        product_types:
          type: array
          description: List of product types used for worker matching during order planning
          items:
            type: string
        device_id:
          type:
          - string
          - 'null'
          description: Unique ID representing the worker's device
        profile:
          type: object
          description: Metadata associated with a worker
          additionalProperties: {}
        work_status:
          description: work_status of the worker with respect to availability and on order fulfilment
          allOf:
          - $ref: '#/components/schemas/DriverStatus1'
        schedule:
          type:
          - array
          - 'null'
          description: List indicating the schedule of a worker for work assignment
          items:
            oneOf:
            - $ref: '#/components/schemas/DriverDateSchedule'
            - $ref: '#/components/schemas/DriverRecurringSchedule'
        deleted:
          type:
          - boolean
          - 'null'
          description: Flag indicating whether the worker was deleted
        created_at:
          type: string
          description: Timestamp at which the worker was created
        home:
          description: Worker home
          allOf:
          - $ref: '#/components/schemas/LocationWithoutRadiusResponse'
        deleted_at:
          type:
          - string
          - 'null'
          description: Timestamp at which the worker was deleted
        location:
          description: Last known location of the worker.
          anyOf:
          - $ref: '#/components/schemas/MovementLocationResponse'
        device_status:
          description: Current status of the device used by the worker
          anyOf:
          - $ref: '#/components/schemas/DeviceStatus1'
        unavailable_on:
          type: array
          description: List of dates (YYYY-MM-DD) on which the worker is not available
          items:
            type: string
        summary:
          description: Summary of work done by the worker during the specified time range. Default last 24 hours.
          anyOf:
          - $ref: '#/components/schemas/DriverSummary1'
        location_permission:
          description: Last known location permission on the worker's device
          anyOf:
          - $ref: '#/components/schemas/LocationPermission1'
        device_info:
          description: Information of the Device associated with Worker
          anyOf:
          - $ref: '#/components/schemas/DeviceInfo'
        battery:
          description: Information of the battery status.
          anyOf:
          - $ref: '#/components/schemas/BatteryStatus1'
        timezone:
          type:
          - string
          - 'null'
          description: Timezone of the worker
      required:
      - created_at
      - home
      - ops_group_handle
      - product_types
      - profile
      - unavailable_on
      - work_status
      - worker_handle
    PolygonGeometry:
      type: object
      properties:
        type:
          type: string
          enum:
          - Polygon
          description: Geometry type
        coordinates:
          type: array
          description: Location coordinates represented as [[[longitude, latitude], [lon, lat]...]]
          items:
            type: array
            items:
              type: array
              items:
                type: number
      required:
      - coordinates
      - type
    PointGeometry:
      type: object
      properties:
        coordinates:
          type: array
          description: Location coordinates represented as [longitude, latitude]
          items:
            type: number
        type:
          type: string
          default: Point
          enum:
          - Point
          description: Geometry type
      required:
      - coordinates
    Error:
      type: object
      properties:
        code:
          type: string
          description: error code for the type of error
        title:
          type: string
          description: error title
        detail:
          type: string
          description: error detail
    DriverDeviceLinkedEvent2:
      type: object
      properties:
        type:
          type: string
          enum:
          - driver_device_linked_event
          description: String indicating the type of timeline event.
        recorded_at:
          type: string
          description: Timestamp indicating the beginning of the device session.
        location:
          description: Location of the device when the event was recorded
          anyOf:
          - $ref: '#/components/schemas/LocationGeometryModel'
        location_recorded_at:
          type:
          - string
          - 'null'
          description: Timestamp when the location was recorded.
        driver_handle:
          type:
          - string
          - 'null'
          deprecated: true
          description: handle of the driver
        worker_handle:
          type:
          - string
          - 'null'
          description: handle of the worker
        device_id:
          type: string
          description: Unique ID of device
        device_info:
          description: Device information
          anyOf:
          - $ref: '#/components/schemas/DeviceInfo2'
        former_associated_workers:
          type:
          - array
          - 'null'
          description: List of workers connected to this device in the last 2 days
          items: {}
      required:
      - device_id
      - recorded_at
      - type
    OrderCompletedEvent2:
      type: object
      properties:
        type:
          type: string
          enum:
          - driver_order_completed
          description: String indicating the type of timeline event.
        recorded_at:
          type:
          - string
          - 'null'
          description: Timestamp when the event was recorded
        location:
          description: Location of the device when the event was recorded
          anyOf:
          - $ref: '#/components/schemas/LocationGeometryModel'
        order_handle:
          type:
          - string
          - 'null'
          description: Order handle
        route_handle:
          type:
          - string
          - 'null'
          description: Route handle
        order_type:
          type:
          - string
          - 'null'
          description: Order type
        destination_address:
          type:
          - string
          - 'null'
          description: Address of the intended order destination.
        destination_location:
          description: Intended order destination in coordinates.
          anyOf:
          - $ref: '#/components/schemas/LocationGeometryModel'
        fulfillment_attempt:
          type:
          - integer
          - 'null'
          description: Number of fulfillment attempts made.
        driver_handle:
          type:
          - string
          - 'null'
          deprecated: true
          description: handle of the driver
        worker_handle:
          type:
          - string
          - 'null'
          description: handle of the worker
        device_id:
          type:
          - string
          - 'null'
          description: Unique ID of device
        deviation_from_destination:
          type:
          - integer
          - 'null'
          description: Distance in meters between the actual completion location to the order location
        completed_at_destination:
          type:
          - boolean
          - 'null'
          description: Indicates whether the order was completed at destination
      required:
      - type
    DeviceStatus:
      type: object
      properties:
        value:
          type: string
          description: Status of the driver's device - `active` `disconnected` `inactive` `available` `unavailable`
        data:
          type: object
          description: Data associated with the driver's device status - `reason`, `activity`
          additionalProperties: {}
      required:
      - data
      - value
    PolylineProperties:
      type: object
      properties:
        timestamps:
          type:
          - array
          - 'null'
          description: list of timestamps, one for each location in polyline.
          items:
            type: string
    ValidationError:
      properties:
        detail:
          type: object
          properties:
            <location>:
              type: object
              properties:
                <field_name>:
                  type: array
                  items:
                    type: string
        message:
          type: string
      type: object
    PolylineGeometry:
      type: object
      properties:
        type:
          type: string
          description: geometry type
        coordinates:
          type:
          - array
          - 'null'
          description: 'centre coordinates: lon, lat'
          items:
            type: array
            items:
              type: number
      required:
      - type
    DeviceDisconnectedEvent2:
      type: object
      properties:
        type:
          type: string
          enum:
          - device_disconnected_event
          description: String indicating the type of timeline event.
        recorded_at_start:
          type:
          - string
          - 'null'
          description: Timestamp indicating the beginning of the event.
        recorded_at_end:
          type:
          - string
          - 'null'
          description: Timestamp indicating the end of the event
        location_start:
          description: Location of the device at the beginning of the event.
          anyOf:
          - $ref: '#/components/schemas/LocationGeometryModel'
        location_end:
          description: Location of the device at the end of the event.
          anyOf:
          - $ref: '#/components/schemas/LocationGeometryModel'
        driver_handle:
          type:
          - string
          - 'null'
          deprecated: true
          description: handle of the driver
        worker_handle:
          type:
          - string
          - 'null'
          description: handle of the worker
        device_id:
          type: string
          description: Unique ID of device
        marker_id:
          type:
          - string
          - 'null'
          description: unique id
        split_marker_id:
          type:
          - string
          - 'null'
          description: marker id if the marker is split
        disconnected_code:
          type: string
          description: Code indicating the type of event
        disconnected_label:
          type: string
          description: Text indicating the type of event
        disconnected_description:
          type: string
          description: Text describing the detail description.
        detail:
          description: 'Details associated with stats: distance/duration etc.'
          anyOf:
          - $ref: '#/components/schemas/ActivityDetail'
        is_partial:
          type: boolean
          description: flag indicating if the outage is partial.
        is_ongoing:
          type: boolean
          description: flag indicating if the activity is ongoing.
      required:
      - device_id
      - disconnected_code
      - disconnected_description
      - disconnected_label
      - is_ongoing
      - is_partial
      - type
    LocationGeometry:
      type: object
      properties:
        type:
          type: string
          enum:
          - Point
          description: Geometry type
        coordinates:
          type: array
          description: Location coordinates represented as [longitude, latitude]
          items:
            type: number
      required:
      - coordinates
      - type
    DriverStatusUpdatedEvent2:
      type: object
      properties:
        type:
          type: string
          enum:
          - driver_status_updated
          description: String indicating the type of timeline event.
        recorded_at:
          type:
          - string
          - 'null'
          description: Timestamp when the event was recorded
        location:
          description: Location of the device when the event was recorded
          anyOf:
          - $ref: '#/components/schemas/LocationGeometryModel'
        detail:
          description: Details of the status update.
          anyOf:
          - $ref: '#/components/schemas/StatusDetail2'
        tracking:
          type:
          - boolean
          - 'null'
          description: Boolean flag indicating tracking status.
        available:
          type:
          - boolean
          - 'null'
          description: Boolean flag indicating availability status.
        marker_id:
          type:
          - string
          - 'null'
          description: unique id
        driver_handle:
          type:
          - string
          - 'null'
          deprecated: true
          description: handle of the driver
        worker_handle:
          type:
          - string
          - 'null'
          description: handle of the worker
        device_id:
          type:
          - string
          - 'null'
          description: Unique ID of device
      required:
      - type
    PostWorkerInviteRequest:
      type: object
      properties:
        app:
          type:
          - string
          - 'null'
          default: ORDERS
          enum:
          - ORDERS
          - VISITS
          description: Value indicating the HyperTrack app for which the invite should be generated. `ORDERS` or `VISITS`.
    PatchOpsGroupResponse:
      type: object
      properties:
        ops_group_handle:
          type: string
          description: Unique identifier for an Ops Group
        ops_group_label:
          type: string
          description: Identifier label for an Ops Group
        timezone:
          type: string
          description: IANA timezone of the Ops Group
        route_start_location:
          type: string
          description: Configuration to identify where routes are expected to start
        route_completion_type:
          type: string
          description: Configuration to identify where routes are expected to end
        objective_fn:
          type: string
          description: Configuration to identify the metric used by the solver when generating optimized routes
        ops_group_home:
          description: Location of the Ops Group
          allOf:
          - $ref: '#/components/schemas/OpsGroupHome'
        default_shift_start_time:
          type: string
          description: Default time HH:mm when the shift starts for drivers
        default_shift_end_time:
          type: string
          description: Default time HH:mm when the shift ends for drivers
        route_capacity:
          type: integer
          description: Maximum number of orders in a route
        route_max_distance:
          type: integer
          description: Maximum distance in meters used by the resolver to constrain each route distance
        deleted:
          type: boolean
          description: Flag to include deleted ops groups
        deleted_at:
          type: string
          description: Timestamp at which the OpsGroup was deleted
        shift_availability_mode:
          type: string
          description: Flag to start/stop availability of all drivers based on the ops group shift
        order_tracking_mode:
          type:
          - string
          - 'null'
          description: Order tracking mode associated with the ops-group
          deprecated: true
        schedule:
          type:
          - array
          - 'null'
          description: List of schedules used for ops group workers for work assignment and shift tracking
          items:
            oneOf:
            - $ref: '#/components/schemas/OpsGroupDateSchedule'
            - $ref: '#/components/schemas/OpsGroupRecurringSchedule'
        order_tracking_automation:
          description: A configuration object to enable/disable and customize automatic order tracking.
          anyOf:
          - $ref: '#/components/schemas/OpsGroupOrderTrackingAutomation'
        work_status_automation:
          type:
          - array
          - 'null'
          description: 'List of configuration object to enable/disable and customize automatic work status updation. If `null`, the default behavior is equivalent to: `{"type": "manual"}`.'
          items:
            $ref: '#/components/schemas/WorkStatusAutomation'
        app_config:
          type:
          - object
          - 'null'
          description: Configuration specific to order's app
          additionalProperties: {}
        operations_radius:
          type:
          - integer
          - 'null'
          description: Maximum distance in meters from the ops group home within which order destinations are allowed
        enforce_operations_radius:
          type:
          - boolean
          - 'null'
          description: Whether to enforce operations_radius validation at order creation time
      required:
      - ops_group_handle
      - ops_group_label
      - route_capacity
      - route_max_distance
      - shift_availability_mode
      - timezone
    DriverActivityEvent2:
      type: object
      properties:
        type:
          type: string
          enum:
          - driver_activity_event
          description: String indicating the type of timeline event.
        recorded_at_start:
          type:
          - string
          - 'null'
          description: Timestamp indicating the beginning of the event.
        recorded_at_end:
          type:
          - string
          - 'null'
          description: Timestamp indicating the end of the event
        location_start:
          description: Location of the device at the beginning of the event.
          anyOf:
          - $ref: '#/components/schemas/LocationGeometryModel2'
        location_end:
          description: Location of the device at the end of the event.
          anyOf:
          - $ref: '#/components/schemas/LocationGeometryModel'
        detail:
          description: Details of activity ex. distance (metres), duration (seconds), steps (number)
          anyOf:
          - $ref: '#/components/schemas/ActivityDetail2'
        activity:
          type:
          - string
          - 'null'
          description: 'type of activity: drive/stop/walk'
        marker_id:
          type:
          - string
          - 'null'
          description: event id
        split_marker_id:
          type:
          - string
          - 'null'
          description: marker id if the marker is split
        is_partial:
          type: boolean
          description: flag indicating if the activity is trimmed.
        is_ongoing:
          type: boolean
          description: flag indicating if the activity is ongoing.
        polyline:
          description: polyline associated with the activity
          anyOf:
          - $ref: '#/components/schemas/PolylineGeoJSON2'
        address:
          type:
          - string
          - 'null'
          description: address associated with activity
        source_locations:
          type:
          - string
          - 'null'
          writeOnly: true
          description: source locations
        hex_map:
          type:
          - array
          - 'null'
          description: location heatmap for stop activity
          items:
            $ref: '#/components/schemas/PolygonHeatMap'
        driver_handle:
          type:
          - string
          - 'null'
          deprecated: true
          description: handle of the driver
        worker_handle:
          type:
          - string
          - 'null'
          description: handle of the worker
        device_id:
          type:
          - string
          - 'null'
          description: Unique ID of device
        battery_details:
          description: Details of battery usage during the event.
          anyOf:
          - $ref: '#/components/schemas/ActivityBatteryDetails1'
      required:
      - is_ongoing
      - is_partial
      - type
    PolylineGeoJSON:
      type: object
      properties:
        type:
          type: string
          description: type
        geometry:
          description: geojson geometry
          allOf:
          - $ref: '#/components/schemas/PolylineGeometry'
        properties:
          description: geojson properties
          allOf:
          - $ref: '#/components/schemas/PolylineProperties'
      required:
      - geometry
      - properties
      - type
    GetOpsGroupResponse:
      type: object
      properties:
        ops_group_handle:
          type: string
          description: Unique identifier for an Ops Group
        ops_group_label:
          type: string
          description: Identifier label for an Ops Group
        timezone:
          type: string
          description: IANA timezone of the Ops Group
        route_start_location:
          type: string
          description: Configuration to identify where routes are expected to start
[...]
