# Synced from feature-foundation's public OpenAPI spec via scripts/sync-openapi.mjs.
# Manually-added endpoints live in content/reference/_supplement.yaml.
# Do not edit this file by hand.
openapi: 3.0.3
info:
  title: HyperTrack API
  version: "1.0"
  description: HyperTrack API Reference — Orders, Workers, Places, Routes, and more.
  contact:
    name: HyperTrack support
    url: https://hypertrack.com/contact
    email: help@hypertrack.com
servers:
  - url: https://v3.api.hypertrack.com
tags:
  - name: Authentication
    description: Obtain and use access tokens for the HyperTrack API.
  - name: Geotags
  - name: Ops Group
  - name: Ops Groups
  - name: Timeline
  - name: Workers
  - name: Orders
  - name: OrderPlans
  - name: Routes
  - name: Tracking
  - name: Visits
  - name: Trip Orders
  - name: Nearby
  - name: OrderTasks
  - name: OrderApprovals
  - name: Approvals
  - name: WorkerApprovers
  - name: Order_Acceptances_Order
  - name: Order_Acceptances_All
  - name: TaskDefinitions
  - name: EstimatedRoutes
  - name: Export
  - name: WorkerExport
  - name: Places
paths:
  /oauth/token:
    post:
      tags:
        - Authentication
      operationId: postOauthToken
      summary: Create access token
      description: >
        Exchange your `client_id` and `client_secret` for a short-lived bearer
        token using the OAuth 2.0 `client_credentials` grant. Send the returned
        `access_token` as `Authorization: Bearer <access_token>` on all API
        requests.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - grant_type
                - client_id
                - client_secret
              properties:
                grant_type:
                  type: string
                  enum:
                    - client_credentials
                  description: Must be `client_credentials`.
                client_id:
                  type: string
                  description: Your account's client ID.
                client_secret:
                  type: string
                  description: Your account's client secret.
                scope:
                  type: string
                  description: Optional space-delimited list of scopes.
      responses:
        "200":
          description: Token issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Bearer token to use on subsequent API requests.
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds.
        "401":
          description: Invalid client credentials.
  /oauth/embed-token:
    post:
      tags:
        - Authentication
      operationId: postOauthEmbedToken
      summary: Secure embed view
      description: >
        Exchange an embeddable view URL for a short-lived secure URL with an
        access token appended, for safely embedding HyperTrack views (such as an
        order view or dashboard) in your own UI. Authenticate with HTTP Basic
        auth using your account ID and secret key.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - embed_url
                - grant_type
              properties:
                embed_url:
                  type: string
                  description: URL to be embedded securely (e.g. an order view or dashboard).
                  example: https://embed.hypertrack.com/orders/my_order_handle?fulfillment-attempt=0&show-visits-only=true
                grant_type:
                  type: string
                  enum:
                    - client_credentials
                  description: Must be `client_credentials`.
      responses:
        "200":
          description: Secure embed URL issued.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: The OAuth access token.
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds.
                  embed_url:
                    type: string
                    description: Original URL to be embedded.
                  secure_embed_url:
                    type: string
                    description: Secure URL with the token appended for embedding.
        "400":
          description: Invalid parameters (missing `embed_url` or invalid `grant_type`).
        "401":
          description: Authentication failed.
        "404":
          description: Order or device not found.
  /orders/:
    get:
      parameters:
        - in: query
          name: worker_handle
          description: Unique customer provided identifier of the worker to used retrieve
            orders associated with the specified worker
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: place_handle
          description: Unique customer provided identifier of the place to be used
            retrieve orders associated with the specified place
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: search_term
          description: String representing the search term. Search will be done on
            order_handle, ops_group_handle, worker_handle and metadata fields.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: ops_group_handle
          description: Unique Handle of Ops Group to fetch orders for
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: order_metadata_filter
          description: JSON encoded string for order metadata to filter orders by
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: risk_status
          description: Filter for risk status of order
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: region_filter
          description: JSON object containing `city`, `state`, or `country` used to filter
            orders
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: status
          description: String representation of Order status to fetch orders for. It can
            be comma separated list, each item in list can be one of
            `completed`, `cancelled`, `rescheduled`, `disabled`, `ongoing`,
            `unplanned`, `assigned`, `planned`. eg.
            `?status=completed,cancelled` or `?status=completed` to filter for
            one status
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: device_id
          description: Filter for orders associated with this device id.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: destination_geohash
          description: Geohash of the area where order destination must lie.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: plan_mode
          description: Mode of planning to be used to filter orders
          schema:
            enum:
              - on_demand
              - scheduled
              - manual
              - pool
            nullable: true
          required: false
        - in: query
          name: plan_id
          description: Filter for orders in this plan id.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: route_handle
          description: Unique Handle of the route to fetch orders for
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: track_mode
          description: Tracking mode to filter orders by. See
            [pre_shift](https://hypertrack.com/docs/shift-tracking#pre-shift-tracking),
            [on_shift](https://hypertrack.com/docs/shift-tracking#on-shift-tracking)
            documentation. `full_shift` includes both pre-shift and on-shift
            tracking. Note that `on_time` and `flex` are deprecated modes.
          schema:
            enum:
              - on_time
              - flex
              - pre_shift
              - on_shift
              - full_shift
            nullable: true
          required: false
        - in: query
          name: device_switch_mode
          description: Device switch mode to filter orders by.
          schema:
            enum:
              - manual
              - login
              - closest_to_destination
            nullable: true
          required: false
        - in: query
          name: created_at_date
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            created on a given date.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: created_at_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders that created within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: created_at_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve
            orders that created within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: planned_at_date
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            planned on a given date.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: planned_at_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders planned within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: planned_at_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders planned within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: scheduled_at_date
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            scheduled on a given date.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: scheduled_at_date_without_tz
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            scheduled on a given date irrespective of timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: completed_at_date_without_tz
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            completed on a given date irrespective of timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: scheduled_at_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders which have scheduled_at within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: scheduled_at_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve
            orders that which have scheduled_at within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: scheduled_at_without_tz_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders of that day in all timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: scheduled_at_without_tz_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve
            orders of that day in all timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: cancelled_at_date
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            cancelled on a given date.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: cancelled_at_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders that cancelled within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: cancelled_at_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve
            orders that cancelled within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: completed_at_date
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            completed on a given date.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: completed_at_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders that completed within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: completed_at_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve
            orders that completed within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: rescheduled_marked_at_date
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            rescheduled on a given date.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: rescheduled_marked_at_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders that rescheduled within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: rescheduled_marked_at_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve
            orders that rescheduled within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: route_started_at_date
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders for which
            route started on a given date.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: route_started_at_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders for which route started within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: route_started_at_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve
            orders for which route started within a timeframe.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: completed_at_without_tz_from
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve
            orders of that day for all timezone for completed orders.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: completed_at_without_tz_to
          description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve
            orders of that day for all timezone for completed orders.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: created_at_without_tz_from
          description: Start Date (YYYY-MM-DD ) of the window to retrieve orders from that
            day for all timezone for created orders.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: created_at_without_tz_to
          description: End Date (YYYY-MM-DD ) of the window to retrieve orders till that
            day for all timezone for created orders.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: created_at_date_without_tz
          description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are
            created on a given date irrespective of timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: driver_handle
          description: Unique customer provided identifier of the driver to used retrieve
            orders associated with the specified driver
          schema:
            type: string
            nullable: true
            deprecated: true
          required: false
        - in: query
          name: sort_direction
          description: String indicating the preferred sorting type
          schema:
            enum:
              - desc
              - asc
            nullable: true
          required: false
        - in: query
          name: fulfillment_attempt
          description: Filter for fulfillment attempt number
          schema:
            type: integer
            nullable: true
          required: false
        - in: query
          name: aggregate
          description: Flag to fetch order's aggregated data.
          schema:
            type: boolean
            nullable: true
          required: false
        - in: query
          name: limit
          description: Limit to number of results in response
          schema:
            type: integer
            nullable: true
          required: false
        - in: query
          name: pagination_token
          description: Encoded value provided by our API to retrieve the next page of orders
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: send_outage
          description: Boolean to send the outage in aggregation
          schema:
            type: boolean
            nullable: true
          required: false
        - in: query
          name: tracking_status
          description: Parameter to filter for tracked and untracked orders
          schema:
            type: string
            enum:
              - tracked
              - untracked
            nullable: true
          required: false
        - in: query
          name: filter_outage_category
          description: List of outage category as comma separated strings used for
            filtering associated orders within time range
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: worker_profile_filter
          description: JSON encoded string metadata associated with the worker to filter
            orders
          schema:
            type: string
            nullable: true
            format: Encoded JSON
          required: false
        - in: query
          name: worker_inside_destination
          description: Boolean flag to filter orders based on whether the worker is inside
            the destination or not.
          schema:
            type: boolean
            nullable: true
          required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetOrdersResponse"
              examples:
                Filtered on date, ops_group_handle and status:
                  summary: Filtered on date, ops_group_handle and status
                  value:
                    orders:
                      - order_handle: order-1
                        fulfillment_attempt: 0
                        status: completed
                        destination:
                          geometry:
                            type: Point
                            coordinates:
                              - -121.9007247
                              - 37.3811932
                          address: 1028 E Brokaw Rd, San Jose, CA 95131
                          radius: 100
                        ops_group_handle: store-SF
                        track_mode: on_time
                        plan_mode: manual
                        scheduled_at: 2023-10-31T04:00:00.000Z
                        type: drop
                        type_index: 0
                        expected_service_time: 0
                        capacity_used: 1
                        metadata:
                          customerID: "12654"
                        region:
                          country: United States
                          city: San Jose
                          state: California
                        product_type:
                          - frozen
                          - fragile
                        completed_at: 2023-10-31T23:13:21.287Z
                        device_id: 52193948-1A79-14GF-AB81-2FB0A59536S3
                        worker_handle: james@ht.com
                        created_at: 2023-10-30T23:41:47.489Z
                        assigned_at: 2023-10-31T23:13:03.712Z
                        route_handle: a3f6e79c-c830-4766-8a3d-9eeaa5099ce2
                Filtered on date, worker and status:
                  summary: Filtered on date, worker and status
                  value:
                    orders:
                      - order_handle: order-1
                        fulfillment_attempt: 0
                        status: completed
                        destination:
                          geometry:
                            type: Point
                            coordinates:
                              - -121.9007247
                              - 37.3811932
                          address: 1028 E Brokaw Rd, San Jose, CA 95131
                          radius: 100
                        ops_group_handle: store-SF
                        track_mode: on_time
                        plan_mode: manual
                        scheduled_at: 2023-10-31T04:00:00.000Z
                        type: drop
                        type_index: 0
                        expected_service_time: 0
                        capacity_used: 1
                        metadata:
                          customerID: "12654"
                        region:
                          country: United States
                          city: San Jose
                          state: California
                        product_type:
                          - frozen
                          - fragile
                        completed_at: 2023-10-31T23:13:21.287Z
                        device_id: 52193948-1A79-14GF-AB81-2FB0A59536S3
                        worker_handle: james@ht.com
                        created_at: 2023-10-30T23:41:47.489Z
                        assigned_at: 2023-10-31T23:13:03.712Z
                        route_handle: a3f6e79c-c830-4766-8a3d-9eeaa5099ce2
                Filtered on date and status:
                  summary: Filtered on date and status
                  value:
                    orders:
                      - order_handle: order-1
                        fulfillment_attempt: 0
                        status: cancelled
                        destination:
                          geometry:
                            type: Point
                            coordinates:
                              - -121.8871193
                              - 37.390611
                          address: 1709 Automation Pkwy, San Jose, CA 95101
                          radius: 100
                        ops_group_handle: store-SF
                        track_mode: on_time
                        plan_mode: scheduled
                        scheduled_at: 2023-10-31T02:00:00.000Z
                        type: pick
                        type_index: 0
                        expected_service_time: 0
                        capacity_used: 1
                        metadata:
                          customerID: "12654"
                        region:
                          country: United States
                          city: San Jose
                          state: California
                        product_type:
                          - frozen
                          - fragile
                        cancelled_at: 2023-10-31T23:13:13.926Z
                        device_id: 52393948-1A79-47CC-AB81-2FB0A59536D1
                        worker_handle: james@ht.com
                        created_at: 2023-10-30T23:42:28.655Z
                        assigned_at: 2023-10-31T23:13:03.617Z
                        route_handle: a3f6e79c-c830-4766-8a3d-9eeaa5099ce2
                        plan_id: a7a9c72e-bf31-44f5-8a59-c4fffb5fb9d4
                      - order_handle: order-2
                        fulfillment_attempt: 0
                        status: cancelled
                        destination:
                          geometry:
                            type: Point
                            coordinates:
                              - -121.8871193
                              - 37.390611
                          address: 1709 Automation Pkwy, San Jose, CA 95101
                          radius: 100
                        ops_group_handle: store-SF
                        track_mode: on_time
                        plan_mode: manual
                        scheduled_at: 2023-10-31T02:00:00.000Z
                        type: pick
                        type_index: 0
                        expected_service_time: 0
                        capacity_used: 1
                        metadata:
                          customerID: "12654"
                        region:
                          country: United States
                          city: San Jose
                          state: California
                        product_type:
                          - frozen
                          - fragile
                        cancelled_at: 2023-10-31T00:13:01.073Z
                        created_at: 2023-10-30T23:41:47.489Z
                        route_handle: afb94d64-2702-4efa-b938-d1facfd7832c
                      - order_handle: order-4
                        fulfillment_attempt: 0
                        status: cancelled
                        destination:
                          geometry:
                            type: Point
                            coordinates:
                              - -121.8970798
                              - 37.3838274
                          address: 1710 Old Oakland Rd, San Jose, CA 95131
                        ops_group_handle: store-SF
                        track_mode: on_time
                        plan_mode: manual
                        scheduled_after: 2023-10-31T02:00:00.000Z
                        scheduled_at: 2023-10-31T04:00:00.000Z
                        type: drop
                        type_index: 0
                        expected_service_time: 0
                        capacity_used: 1
                        metadata:
                          customerId: "1442"
                          name: Jordan
                        region:
                          country: United States
                          city: San Jose
                          state: California
                        product_type:
                          - frozen
                          - fragile
                          - valuable
                        cancelled_at: 2023-10-31T00:12:56.688Z
                        created_at: 2023-10-30T22:22:54.071Z
                        route_handle: afb94d64-2702-4efa-b938-d1facfd7832c
                Unplanned orders with planning failure reason:
                  summary: Unplanned orders with planning failure reason
                  value:
                    orders:
                      - order_handle: order-5
                        fulfillment_attempt: 0
                        status: unplanned
                        destination:
                          geometry:
                            type: Point
                            coordinates:
                              - -121.8970798
                              - 37.3838274
                          address: 1710 Old Oakland Rd, San Jose, CA 95131
                          radius: 100
                        ops_group_handle: store-SF
                        plan_mode: scheduled
                        plan_id: a7a9c72e-bf31-44f5-8a59-c4fffb5fb9d4
                        scheduled_after: 2023-10-31T02:00:00.000Z
                        scheduled_at: 2023-10-31T04:00:00.000Z
                        type: drop
                        expected_service_time: 0
                        capacity_used: 1
                        created_at: 2023-10-30T22:22:54.071Z
                        planning_failure_reason: The optimizer dropped this order to satisfy planning
                          constraints for the overall plan.
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPError"
          description: Authentication error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Validation error
      tags:
        - Orders
      summary: Get Orders
      description: >-
        ### Planning failure reasons


        When an order is left unplanned by automated planning,
        `planning_failure_reason` may contain one of these values:


        - `No Worker was available for this plan.`

        - `No Worker schedule overlaps with this order's time window.`

        - `This order is outside the available Worker working hours.`

        - `Worker location is unavailable, so travel time could not be
        evaluated.`

        - `Worker start location is unavailable for the configured route start
        setting.`

        - `No Worker supports the required product type for this order.`

        - `Route was being modified concurrently and this order needs to be
        re-planned.`

        - `The optimizer dropped this order to satisfy planning constraints for
        the overall plan.`

        - `The optimizer could not find a feasible plan for the provided
        constraints.`

        - `Travel time calculation failed for this planning attempt.`

        - `Ops group configuration is incomplete for automated planning.`

        - `Assigning this order would exceed route or Worker capacity.`

        - `No Worker can reach this order before scheduled_at.`

        - `Assigning this order would delay an already planned downstream
        order.`

        - `Assigning this order would exceed the Worker's shift end time.`

        - `Existing assigned route conflicts with the Worker schedule, so this
        order could not be inserted into the plan.`

        - `Existing assigned route exceeds the Worker's shift, so this order
        could not be inserted into the plan.`

        - `Existing assigned route has conflicting appointment windows, so this
        order could not be inserted into the plan.`

        - `Existing assigned route exceeds route or Worker capacity, so this
        order could not be inserted into the plan.`

        - `Existing assigned route exceeds the configured maximum route
        distance, so this order could not be inserted into the plan.`

        - `Existing assigned routes were preserved, so this order could not be
        inserted into the plan.`

        - `Assigning this order would exceed the configured maximum route
        distance.`

        - `The optimizer reached its planning limit before it could assign this
        order.`

        - `Automated planning could not assign this order with the provided
        constraints.`
      security:
        - BasicAuth: []
        - TokenAuth: []
    post:
      parameters: []
      responses:
        "201":
          description: One of OrderListResponse or PlanResponse
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: "#/components/schemas/RouteDetail"
                  - $ref: "#/components/schemas/PlanResponse"
                  - $ref: "#/components/schemas/OrderListResponse"
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPError"
          description: Authentication error
        "409":
          description: Conflict - Planning request already executing for one of the orders
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Validation error
      tags:
        - Orders
      summary: Batch and Sequence Orders
      description: Post a sequence of orders to be planned either manually or
        automatically by HyperTrack. For automatic planning, please contact the
        HyperTrack team to get set up.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchOrdersRequest"
            examples:
              Orders for manual planning without worker_handle:
                summary: Create orders for to be planned manually.
                value:
                  plan_mode: manual
                  ops_group_handle: store-SF
                  orders:
                    - order_handle: order-1
                      scheduled_at: 2023-10-31T02:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: pick
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        geometry:
                          type: Point
                          coordinates:
                            - -121.8871193
                            - 37.390611
                        radius: 100
                    - order_handle: order-2
                      scheduled_at: 2023-10-31T04:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: drop
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1028 E Brokaw Rd, San Jose, CA 95131
                        geometry:
                          type: Point
                          coordinates:
                            - -121.9007247
                            - 37.3811932
                        radius: 100
              Orders for manual planning with worker_handle:
                summary: Create orders for to be planned manually when worker handle has been
                  provided.
                value:
                  plan_mode: manual
                  ops_group_handle: store-SF
                  worker_handle: test_driver
                  orders:
                    - order_handle: order-1
                      scheduled_at: 2023-10-31T02:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: pick
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        geometry:
                          type: Point
                          coordinates:
                            - -121.8871193
                            - 37.390611
                        radius: 100
                    - order_handle: order-2
                      scheduled_at: 2023-10-31T04:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: drop
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1028 E Brokaw Rd, San Jose, CA 95131
                        geometry:
                          type: Point
                          coordinates:
                            - -121.9007247
                            - 37.3811932
                        radius: 100
              Orders for on demand planning without worker_handle:
                summary: Create orders for to be planned manually.
                value:
                  plan_mode: on_demand
                  ops_group_handle: store-SF
                  orders:
                    - order_handle: order-1
                      scheduled_at: 2023-10-31T02:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: pick
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        geometry:
                          type: Point
                          coordinates:
                            - -121.8871193
                            - 37.390611
                        radius: 100
                    - order_handle: order-2
                      scheduled_at: 2023-10-31T04:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: drop
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1028 E Brokaw Rd, San Jose, CA 95131
                        geometry:
                          type: Point
                          coordinates:
                            - -121.9007247
                            - 37.3811932
                        radius: 100
              Orders for on demand planning with worker_handle:
                summary: Create orders for to be planned manually when worker handle has been
                  provided.
                value:
                  plan_mode: on_demand
                  ops_group_handle: store-SF
                  worker_handle: test_driver
                  orders:
                    - order_handle: order-1
                      scheduled_at: 2023-10-31T02:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: pick
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        geometry:
                          type: Point
                          coordinates:
                            - -121.8871193
                            - 37.390611
                        radius: 100
                    - order_handle: order-2
                      scheduled_at: 2023-10-31T04:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: drop
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1028 E Brokaw Rd, San Jose, CA 95131
                        geometry:
                          type: Point
                          coordinates:
                            - -121.9007247
                            - 37.3811932
                        radius: 100
              Orders for scheduled planning:
                summary: Create orders scheduled for later that are to be planned automatically.
                value:
                  plan_mode: scheduled
                  ops_group_handle: store-SF
                  orders:
                    - order_handle: order-3
                      scheduled_at: 2023-10-31T02:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: pick
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        geometry:
                          type: Point
                          coordinates:
                            - -121.8871193
                            - 37.390611
                        radius: 100
                    - order_handle: order-4
                      scheduled_at: 2023-10-31T04:00:00.000Z
                      product_type:
                        - frozen
                        - fragile
                      type: drop
                      metadata:
                        customerID: "12654"
                      destination:
                        address: 1028 E Brokaw Rd, San Jose, CA 95131
                        geometry:
                          type: Point
                          coordinates:
                            - -121.9007247
                            - 37.3811932
                        radius: 100
      security:
        - BasicAuth: []
        - TokenAuth: []
  /visits/:
    get:
      parameters:
        - in: query
          name: visit_id
          description: Unique identifier representing each visit.
          schema:
            type: string
            format: uuid
            nullable: true
          required: false
        - in: query
          name: geofence_id
          description: Geofence Id associated with visit
          schema:
            type: string
            format: uuid
            nullable: true
          required: false
        - in: query
          name: driver_handle
          description: String representing the handle for the driver to fetch the required
            visits.
          schema:
            type: string
            nullable: true
            deprecated: true
          required: false
        - in: query
          name: worker_handle
          description: String representing the handle for the worker to fetch the required
            visits.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: device_id
          description: Device Id associated with visit
          schema:
            type: string
            format: uuid
            nullable: true
          required: false
        - in: query
          name: order_handle
          description: String representing the handle for the order to fetch the required
            visits.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: place_handle
          description: String representing the handle for the place to fetch the required
            visits.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: pagination_token
          description: Identifier used to fetch the next page of data
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: visited_at_from
          description: ISO 8601 datetime indicating the visit's start time for filtering
          schema:
            type: string
            format: date-time
            nullable: true
          required: false
        - in: query
          name: visited_at_to
          description: ISO 8601 datetime indicating the visit's end time for filtering
          schema:
            type: string
            format: date-time
            nullable: true
          required: false
        - in: query
          name: metadata_filter
          description: JSON encoded string metadata associated with the visits
          schema:
            type: string
            nullable: true
            format: Encoded JSON
          required: false
        - in: query
          name: region_filter
          description: JSON encoded string region associated with the visits
          schema:
            type: string
            nullable: true
            format: Encoded JSON
          required: false
        - in: query
          name: search_term
          description: String representing the search term. Search will be done on
            order_handle, ops_group_handle, driver_handle and metadata fields.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: aggregate
          description: Flag set to retrieve aggregated data over the provided time range
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          name: arrived_at_date_without_tz_from
          description: Start date (YYYY-MM-DD) of the time window used as a filter to
            retrieve orders scheduled on a specific date, regardless of the
            timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: arrived_at_date_without_tz_to
          description: End date (YYYY-MM-DD) of the time window used as a filter to
            retrieve orders scheduled on a specific date, regardless of the
            timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: limit
          description: Number of Orders to be sent in response
          schema:
            type: integer
            default: 100
            nullable: true
          required: false
        - in: query
          name: ops_group_handles
          description: List of ops group handles as strings used for fetching associated
            visits
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: attachments
          description: List of attachments in event
          schema:
            type: array
            nullable: true
            minItems: 1
            maxItems: 10
            items:
              oneOf:
                - $ref: "#/components/schemas/ImageAttachment"
                - $ref: "#/components/schemas/NoteAttachment"
                - $ref: "#/components/schemas/SignatureAttachment"
          required: false
          explode: true
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetVisitsResponse"
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPError"
          description: Authentication error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Validation error
      tags:
        - Visits
      summary: Get Visits
      description: Retrieves Visits associated with orders. This API provides the
        ability to filter for visits based on a set of query parameters.
      security:
        - BasicAuth: []
        - TokenAuth: []
  /geotags/:
    get:
      parameters:
        - in: query
          name: order_handle
          description: String represent order identifier to fetch geotags associated with
            the identifier
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: worker_handle
          description: String representing the handle for the worker
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: driver_handle
          description: String representing the handle for the driver
          schema:
            type: string
            nullable: true
            deprecated: true
          required: false
        - in: query
          name: ops_group_handles
          description: List of ops group handles as strings used for fetching associated
            Geotags
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: search_term
          description: String representing the search term. Search will be done on
            order_handle, ops_group_handle, worker_handle and metadata fields.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: device_id
          description: String representing the ID of the device
          schema:
            type: string
            format: uuid
            nullable: true
          required: false
        - in: query
          name: device_name
          description: Name of the worker provided during registration
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: driver_profile_filter
          description: JSON encoded string metadata associated with the worker who
            generated the geotag
          schema:
            type: string
            nullable: true
            format: Encoded JSON
          required: false
        - in: query
          name: metadata_filter
          description: JSON encoded string metadata associated with the geotag
          schema:
            type: string
            nullable: true
            format: Encoded JSON
          required: false
        - in: query
          name: system_generated_order_handle
          description: Boolean to filter out orders where order handle was automatically
            generated by HT system
          schema:
            type: boolean
            nullable: true
          required: false
        - in: query
          name: include_system_generated_order_handle
          description: Flag to include orders where order handle was automatically
            generated by HT system.
          schema:
            type: boolean
            nullable: true
          required: false
        - in: query
          name: region
          description: JSON encoded string for region
          schema:
            type: string
            nullable: true
            format: Encoded JSON
          required: false
        - in: query
          name: pagination_token
          description: Identifier used to fetch the next page of data
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: from_time
          description: ISO 8601 datetime indicating the start time
          schema:
            type: string
            format: date-time
            nullable: true
          required: false
        - in: query
          name: to_time
          description: ISO 8601 datetime indicating the end time
          schema:
            type: string
            format: date-time
            nullable: true
          required: false
        - in: query
          name: from_date
          description: Start date (YYYY-MM-DD) of the time window used as a filter to
            retrieve geotags scheduled on a specific date, regardless of the
            timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: to_date
          description: End date (YYYY-MM-DD) of the time window used as a filter to
            retrieve geotags scheduled on a specific date, regardless of the
            timezone.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: from_geotag_type
          description: String representing type of geotag which corresponds to start of
            time segment within the order fulfilled through geotags
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: to_geotag_type
          description: String representing type of geotag which corresponds to end of time
            segment within the order fulfilled through geotags
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: fetch_attachment_links
          description: Flag to return attachment links as part of response
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          name: include_geotags_with_orders
          description: Flag to filter geotags which are part of order.
          schema:
            type: boolean
            default: false
            nullable: true
          required: false
        - in: query
          name: aggregate
          description: Flag set to retrieve aggregated data over the provided time range
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          name: limit
          description: Number of Orders to be sent in response
          schema:
            type: integer
            default: 100
            nullable: true
          required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetGeotagsResponse"
              examples:
                list_example:
                  summary: Get Orders List Fulfilled Using Geotags
                  value:
                    orders:
                      - order_handle: order-1
                        ops_group_handle: store-san-jose
                        system_generated_order_handle: false
                        device_id: 00112233-4455-6677-8899-AABBCCDDEEFF
                        worker_handle: james_smith
                        driver_name: James Smith
                        last_geotag_recorded_at: 2023-04-19T14:00:58Z
                        distance: 6529
                        duration: 10830
                        tracking_rate: 0.64
                        geotags:
                          - geotag_id: befe814d-79e5-44d5-ac03-c4e47e0931c9
                            order_handle: order-1
                            geotag_type: PICKUP
                            ops_group_handle: store-san-jose
                            system_generated_order_handle: false
                            recorded_at: 2023-04-19T14:00:58Z
                            device_id: 00112233-4455-6677-8899-AABBCCDDEEFF
                            worker_handle: james_smith
                            driver_name: James Smith
                            distance: 1729
                            duration: 8230
                            tracking_rate: 0.84
                            metadata:
                              regionId: 12234
                              zoneId: 3
                            location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.4285939
                                  - 37.7598248
                              address: Dolores St &, 19th St, San Francisco, CA 94114
                            expected_location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.4297458
                                  - 37.7617545
                              address: 3750 18th St, San Francisco, CA 94114
                            summary:
                              distance: 2300
                              duration: 1200
                              tracking_rate: 86.5
                              deviation: 500
                            start_location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.4526714
                                  - 37.7652444
                              address: 941 Cole St, San Francisco, CA 94117
                            region:
                              city: San Francisco
                              state: California
                              country: United States of America
                          - geotag_id: f92s813d-5f33-8ks2-9j32-c8f44d59432b1
                            order_handle: order-1
                            geotag_type: ARRIVED
                            ops_group_handle: store-san-jose
                            system_generated_order_handle: false
                            recorded_at: 2023-04-19T14:30:58Z
                            device_id: 00112233-4455-6677-8899-AABBCCDDEEFF
                            worker_handle: james_smith
                            driver_name: James Smith
                            distance: 1800
                            duration: 2000
                            tracking_rate: 0.89
                            metadata:
                              regionId: 12234
                              zoneId: 3
                            location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.419329
                                  - 37.752945
                              address: 2756 Mission St, San Francisco, CA 94110
                            expected_location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.4214724
                                  - 37.7530874
                              address: 2740 Mission St, San Francisco, CA 94110
                            summary:
                              distance: 100
                              duration: 600
                              tracking_rate: 99.5
                              deviation: 100
                            start_location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.4526714
                                  - 37.7652444
                              address: 941 Cole St, San Francisco, CA 94117
                            region:
                              city: San Francisco
                              state: California
                              country: United States of America
                          - geotag_id: ctfe813d-87v3-46d3-fd90-c8f44d59432b3
                            order_handle: order-1
                            geotag_type: COMPLETED
                            ops_group_handle: store-san-jose
                            system_generated_order_handle: false
                            recorded_at: 2023-04-19T14:30:58Z
                            device_id: 00112233-4455-6677-8899-AABBCCDDEEFF
                            worker_handle: james_smith
                            driver_name: James Smith
                            distance: 1800
                            duration: 2000
                            tracking_rate: 0.91
                            metadata:
                              regionId: 12234
                              zoneId: 3
                            location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.4214724
                                  - 37.7530874
                              address: 2740 Mission St, San Francisco, CA 94110
                            expected_location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.4214724
                                  - 37.7530874
                              address: 2740 Mission St, San Francisco, CA 94110
                            summary:
                              distance: 2300
                              duration: 1200
                              tracking_rate: 86.5
                              deviation: 0
                            start_location:
                              geometry:
                                type: Point
                                coordinates:
                                  - -122.4526714
                                  - 37.7652444
                              address: 941 Cole St, San Francisco, CA 94117
                            region:
                              city: San Francisco
                              state: California
                              country: United States of America
                    pagination_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWQiOiIxMDAiLCJwYWdpdGFudElkIjoiMTAwMDEiLCJhbWF6b25JZCI6IjEwMDAxIn0.9SEKO_8dk00Up2khdGkkgDl6OQg1uYUsbRMaj7TWl-4
                aggregate_example:
                  summary: Get Aggregates for Orders Fulfilled via Geotags
                  value:
                    aggregate:
                      count: 150
                      distance:
                        sum: 98000
                        mean: 654
                        min: 2000
                        max: 15000
                        stdev: 0.6
                        mean_by_driver: 2800
                      duration:
                        sum: 180000
                        mean: 1250
                        min: 600
                        max: 3600
                        stdev: 0.8
                        mean_by_driver: 800
                      geotags:
                        count: 450
                        count_mean: 3
                      tracking_rate: 98.4
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPError"
          description: Authentication error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Validation error
      tags:
        - Geotags
      summary: Get Geotags
      description: Retrieves Geotags associated with orders. This API provides the
        ability to filter for Geotags based on a set of query parameters.
      security:
        - BasicAuth: []
        - TokenAuth: []
  /workers/:
    get:
      parameters:
        - in: query
          name: from_date
          description: "ISO 8601 date format ('yyyy-MM-dd') indicating the start date to
            be used for the summary computation.<br>Default: Current date in
            UTC."
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: to_date
          description: "ISO 8601 date format ('yyyy-MM-dd') indicating the end date to be
            used for the summary computation.<br>Default: Current date in UTC."
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: limit
          description: Number of workers to be sent in response
          schema:
            type: integer
            default: 25
            nullable: true
          required: false
        - in: query
          name: include_schedule
          description: Flag to include worker's schedule in the response.
          schema:
            type: boolean
            default: true
          required: false
        - in: query
          name: include_summary
          description: Flag to include worker's summary stats in the response.
          schema:
            type: boolean
            default: true
          required: false
        - in: query
          name: ops_group_handle
          description: List of ops group handles as comma separated strings used to filter
            workers.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: profile
          description: Profile filter to be applied on the list of workers
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: worker_handle
          description: List of worker handles as comma separated strings used for fetching
            associated workers
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: search_term
          description: Keyword to match against worker handle, name, or profile
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: pagination_token
          description: Identifier used to fetch the next page of data
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: device_id
          description: Unique identifier for a worker's device. This field is present in
            case the worker is currently linked with a device
          schema:
            type: string
            format: uuid
            nullable: true
          required: false
        - in: query
          name: include_deleted
          description: Flag to include deleted workers
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          name: from_time
          description: ISO 8601 datetime indicating the start time to be used for
            computing summary, status.
          schema:
            type: string
            format: date-time
            nullable: true
            deprecated: true
          required: false
        - in: query
          name: to_time
          description: ISO 8601 datetime indicating the end time to be used for computing
            summary, status.
          schema:
            type: string
            format: date-time
            nullable: true
            deprecated: true
          required: false
        - in: query
          name: filter_outage
          description: Filter workers on a particular outage code.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: filter_outage_category
          description: "List of comma separated outage categories to be used for filtering
            workers. Valid categories:
            `behavioural`,`adversarial`,`reachability`,`os`,`sporadic`"
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: filter_geofence_metadata
          description: geofence_metadata filter for aggregate response
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: aggregate
          description: Flag set to retrieve aggregated data over the provided time range
          schema:
            type: boolean
            default: false
          required: false
        - in: query
          name: work_status
          description: URL-encoded json string specifying filters on availability or
            tracking.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: filter_status
          description: Only list workers that are currently active/inactive/disconnected.
          schema:
            type: string
            enum:
              - active
              - inactive
              - disconnected
            nullable: true
          required: false
        - in: query
          name: tracked
          description: If set to true, only shows workers that were actually tracked
            during the specified period.
          schema:
            type: boolean
            nullable: true
          required: false
        - in: query
          name: worked
          description: If set to true, only shows workers that actually during the
            specified period.
          schema:
            type: boolean
            nullable: true
          required: false
        - in: query
          name: intended_to_track
          description: If set to true, only shows workers that was supposed to be tracked
            during the specified period.
          schema:
            type: boolean
            nullable: true
          required: false
        - in: query
          name: include_lp
          description: Flag to include location permission stats in response (only
            applicable when `aggregate=True`).
          schema:
            type: boolean
            default: false
            nullable: true
          required: false
        - in: query
          name: region_filter
          description: URL-encoded JSON string used to filter workers from a particular
            region. Ex `{"city":"Detroit"}`
          schema:
            type: string
            nullable: true
          required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetWorkersResponse"
              examples:
                Filter on profile:
                  summary: Filter on profile
                  value:
                    workers:
                      - created_at: 2023-10-18T12:41:59.865Z
                        device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                        device_info:
                          device_brand: OnePlus
                          device_model: DN2111
                          network_operator: JIO 4G
                          os_hardware_identifier: 10b653a2c0a09e77
                          os_name: Android
                          os_version: "11"
                          sdk_version: 7.0.9+a5a509f3
                          timezone: Asia/Kolkata
                        device_status:
                          data:
                            activity: drive
                            recorded_at: 2023-10-24T16:27:52.768Z
                          value: active
                        devices:
                          - device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                            start_time: 2023-10-183T20:42:38Z
                          - device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                            start_time: 2023-10-183T16:02:38Z
                            end_time: 2023-10-183T20:41:38Z
                        worker_handle: james@ht.com
                        location:
                          accuracy: 19.35
                          bearing: 352.97
                          geometry:
                            coordinates:
                              - -121.94186
                              - 37.3570492
                              - -44.01
                            type: Point
                          speed: 20.2
                        name: James
                        ops_group_handle: store-sf
                        product_types:
                          - plumbing
                          - hardware
                        profile:
                          zoneId: "4"
                        schedule:
                          - day_of_week: MONDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: TUESDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: WEDNESDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: THURSDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: FRIDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: SATURDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: SUNDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                        home:
                          address: 777 Story Rd, San Jose, CA 95122
                          geometry:
                            type: Point
                            coordinates:
                              - -121.8624398
                              - 37.3304521
                          radius: 100
                        work_status:
                          available: false
                          tracking: true
                        location_permission:
                          recorded_at: 2023-12-19T12:29:54.321Z
                          state: always
                        unavailable_on:
                          - 2023-12-15
                        summary:
                          orders:
                            completed: 4
                            cancelled: 1
                            assigned: 0
                            tracked: 5
                            total: 6
                          geotags: 4
                          visits: 4
                          distance: null
                          duration: null
                          tracking_rate: null
                      - created_at: 2023-10-06T12:00:45.221Z
                        device_id: 71284FFE-D949-4FF7-B238-44C667BE8EF4
                        device_status:
                          data:
                            recorded_at: 2023-10-24T12:51:25.995Z
                          value: disconnected
                        worker_handle: smith@ht.com
                        location:
                          accuracy: 35
                          bearing: 280.3
                          geometry:
                            coordinates:
                              - 20.016091
                              - 50.103046
                              - 250.59
                            type: Point
                          speed: 0
                        name: fero
                        ops_group_handle: store-sjc
                        profile:
                          zoneId: "4"
                        work_status:
                          available: false
                          tracking: true
                      - created_at: 2023-07-13T15:05:31.341Z
                        worker_handle: rick@ht.com
                        ops_group_handle: store-okl
                        profile:
                          zoneId: "4"
                        schedule:
                          - day_of_week: MONDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: TUESDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: WEDNESDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: THURSDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: FRIDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: SATURDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: SUNDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                        work_status:
                          available: false
                          tracking: false
                    pagination_token: eyJwYWdlX251bWJlciI6IDIzLCJsYXN0X2l0ZW1faWQiOiAxMjM0NQ==
                Filter on ops group:
                  summary: Filter on ops group
                  value:
                    workers:
                      - created_at: 2023-07-13T15:05:31.341Z
                        worker_handle: rick@ht.com
                        ops_group_handle: store-okl
                        profile:
                          zoneId: "4"
                        schedule:
                          - day_of_week: MONDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: TUESDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: WEDNESDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: THURSDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: FRIDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: SATURDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                          - day_of_week: SUNDAY
                            end_time: 18:00
                            ops_group_handle: store-sf
                            priority: null
                            start_time: 09:00
                        work_status:
                          available: false
                          tracking: false
                    pagination_token: eyJwYWdlX251bWJlciI6IDIzLCJsYXN0X2l0ZW1faWQiOiAxMjM0NQ==
                Filter on worker handle:
                  summary: Filter on worker handle
                  value:
                    workers:
                      - created_at: 2023-10-18T12:41:59.865Z
                        device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                        device_status:
                          data:
                            activity: drive
                            recorded_at: 2023-10-24T16:27:52.768Z
                          value: active
                        worker_handle: james@ht.com
                        location:
                          accuracy: 19.35
                          bearing: 352.97
                          geometry:
                            coordinates:
                              - -121.94186
                              - 37.3570492
                              - -44.01
                            type: Point
                          speed: 20.2
                        name: James
                        ops_group_handle: store-sf
                        profile:
                          zoneId: "4"
                        work_status:
                          available: false
                          tracking: true
                Filter on work status:
                  summary: Filter on work status
                  value:
                    workers:
                      - created_at: 2023-10-18T12:41:59.865Z
                        device_id: 7B252163-BC27-46B2-8BFD-FFB87D633602
                        device_status:
                          data:
                            activity: drive
                            recorded_at: 2023-10-24T16:27:52.768Z
                          value: active
                        worker_handle: james@ht.com
                        location:
                          accuracy: 19.35
                          bearing: 352.97
                          geometry:
                            coordinates:
                              - -121.94186
                              - 37.3570492
                              - -44.01
                            type: Point
                          speed: 20.2
                        name: James
                        ops_group_handle: store-sf
                        profile:
                          zoneId: "4"
                        work_status:
                          available: true
                          tracking: false
                      - created_at: 2023-10-06T12:00:45.221Z
                        device_id: 71284FFE-D949-4FF7-B238-44C667BE8EF4
                        device_status:
                          data:
                            recorded_at: 2023-10-24T12:51:25.995Z
                          value: disconnected
                        worker_handle: smith@ht.com
                        location:
                          accuracy: 35
                          bearing: 280.3
                          geometry:
                            coordinates:
                              - 20.016091
                              - 50.103046
                              - 250.59
                            type: Point
                          speed: 0
                        name: fero
                        ops_group_handle: store-sjc
                        profile:
                          zoneId: "4"
                        work_status:
                          available: true
                          tracking: false
                    pagination_token: eyJwYWdlX251bWJlciI6IDIzLCJsYXN0X2l0ZW1faWQiOiAxMjM0NQ==
                Fetch aggregate:
                  summary: Fetch aggregate
                  value:
                    aggregate:
                      geotags:
                        count: 107
                        deviation: 2300
                        distance: 8035
                        duration: 14583
                      orders:
                        count:
                          assigned: 22
                          cancelled: 516
                          completed: 634
                          ongoing: 8
                          total: 1261
                        deviation: 365
                        distance: 8035
                        duration: 18374
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPError"
          description: Authentication error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Validation error
      tags:
        - Workers
      summary: Get Workers
      description: Fetch workers in a paginated list
      security:
        - BasicAuth: []
        - TokenAuth: []
    post:
      parameters: []
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostWorkerResponse"
              example:
                worker_handle: james@ht.com
                ops_group_handle: store-sf
                product_types:
                  - plumbing
                  - hardware
                device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
                profile:
                  workerId: "0012244"
                  vehicle: Ford F-150
                  zoneId: "4"
                status:
                  available: false
                  working: false
                schedule:
                  - start_time: 09:00
                    end_time: 18:00
                    day_of_week: MONDAY
                  - start_time: 09:00
                    end_time: 18:00
                    day_of_week: TUESDAY
                  - start_time: 09:00
                    end_time: 18:00
                    day_of_week: WEDNESDAY
                  - start_time: 09:00
                    end_time: 18:00
                    day_of_week: THURSDAY
                  - start_time: 09:00
                    end_time: 18:00
                    day_of_week: FRIDAY
                created_at: 2023-06-01T02:00:00Z
                home:
                  address: 777 Story Rd, San Jose, CA 95122
                  geometry:
                    type: Point
                    coordinates:
                      - -121.8624398
                      - 37.3304521
                  radius: 100
                device_status:
                  value: unavailable
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPError"
          description: Authentication error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Validation error
      tags:
        - Workers
      summary: Create Worker
      description: Create a worker
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PostWorkerRequest"
            example:
              worker_handle: james@ht.com
              ops_group_handle: store-sf
              product_types:
                - plumbing
                - hardware
              device_id: 00000000-4636-461C-B5F6-7E4BEFC09575
              profile:
                workerId: "0012244"
                vehicle: Ford F-150
                zoneId: "4"
              schedule:
                - start_time: 09:00
                  end_time: 18:00
                  day_of_week: MONDAY
                - start_time: 09:00
                  end_time: 18:00
                  day_of_week: TUESDAY
                - start_time: 09:00
                  end_time: 18:00
                  day_of_week: WEDNESDAY
                - start_time: 09:00
                  end_time: 18:00
                  day_of_week: THURSDAY
                - start_time: 09:00
                  end_time: 18:00
                  day_of_week: FRIDAY
              home:
                address: 777 Story Rd, San Jose, CA 95122
                geometry:
                  type: Point
                  coordinates:
                    - -121.8624398
                    - 37.3304521
                radius: 100
      security:
        - BasicAuth: []
        - TokenAuth: []
  /nearby/v4:
    get:
      parameters:
        - in: query
          name: pagination_token
          description: Identifier used to fetch the next page of data
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: request_id
          description: Unique id of a nearby search request.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: search_type
          description: Type of nearby search. 'eta' for finding estimates of nearby
            workers, 'region' for finding nearby workers.
          schema:
            type: string
            enum:
              - eta
              - region
            nullable: true
          required: false
        - in: query
          name: order_handle
          description: Order handle used to search nearby workers for. This can later be
            used for tracking and associate nearby requests with corresponding
            orders.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: place_handle
          description: Place handle used to search nearby workers for. This can later be
            used for tracking and associate nearby requests with corresponding
            places.
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: from_date
          description: "Start date of the search in yyyy-mm-dd format. default: 3 days ago
            utc date"
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: to_date
          description: "End date of the search in yyyy-mm-dd format. default: todays utc
            date"
          schema:
            type: string
            nullable: true
          required: false
        - in: query
          name: limit
          description: Maximum number of items to return. If not provided, it will default
            to 100.
          schema:
            type: integer
            default: 100
            nullable: true
            maximum: 100
          required: false
        - in: query
          name: aggregate
          description: If true, the response will be aggregated by date and search type.
            If false, the response will be returned as is.
          schema:
            type: boolean
            default: false
            nullable: true
          required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NearbySearchListResponse"
              examples:
                nearby_workers_response_example:
                  summary: Nearby API request response example. This is the list of workers which
                    are ranked based on their distance from the location of
                    interest (nearest first).
                  value:
                    drivers:
                      - device:
                          device_id: 00112233-2F48-4DA1-ACEA-8A8D530670CF
                          info:
                            timezone: America/Los Angeles
                            os_name: iOS
                            device_brand: Apple
                            sdk_version: func test app
                            device_model: IPhone X
                            network_operator: T-Mobile
                            name: Func Test Device
                            os_version: 12.1.4
                            os_hardware_identifier: 719bef31-e487-46e0-86f1-5f32589fd9eb
                          profile:
                            gig_type: ridesharing
                          status:
                            value: active
                            data:
                              activity: drive
                              recorded_at: 2022-06-30T13:35:14.806Z
                        location:
                          coordinates:
                            - -122.3999933082254
                            - 37.793651385106074
                          type: Point
                        duration: null
                        distance: 9303
                        ongoing_trip: null
                        error: null
                    summary:
                      total_drivers: 1
                      processed_drivers: 1
                      unprocessed_drivers: 0
                      outside_region_drivers: 0
                      no_route_drivers: 0
          description: Successful response
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPError"
          description: Authentication error
        "422":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidationError"
          description: Validation error
      tags:
        - Nearby
      summary: Get all nearby searches performed
      description: This API returns a list of all nearby searches performed. The
        response includes the search parameters, the results of the search. The
        API is useful for tracking the history of nearby searches and for
        debugging purposes. The API returns a paginated list of nearby searches,
        with the ability to filter by date range and search parameters.
      security:
        - BasicAuth: []
        - TokenAuth: []
    post:
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NearbyResponse"
              examples:
                nearby_workers_response_example:
                  summary: Nearby API request response example. This is the list of workers which
                    are ranked based on their distance from the location of
                    interest (nearest first).
                  value:
                    request_id: 00000000-aaaa-bbbb-cccc-111122223333
                    summary:
                      no_route_workers: 0
                      outside_region_workers: 0
                      processed_workers: 2
                      total_workers: 2
                      unprocessed_workers: 0
                    workers:
                      - created_at: 2024-10-10 10:10:10.000000
                        device:
                          device_id: AAA11111-BBBB-2222-CCCC-3333DDDD4444
                          info:
                            device_brand: Apple
                            device_model: iPad9,3
                            name: worker001
                            network_operator: CarrierX
                            os_name: iOS
                            os_version: 16.3.0
                            sdk_version: 5.11.0+abcd1234
                            timezone: America/Chicago
                          profile:
                            driver_handle: worker001
                          status:
                            data:
                              activity: idle
                              recorded_at: 2025-05-16T08:00:00.000Z
                            value: active
                        distance: 8276.293463598915
                        location:
                          coordinates:
                            - -89.079472
                            - 42.264265
                          type: Point
                        name: worker001
                        ops_group_handle: default
                        profile:
                          driver_handle: worker001
                        timezone: America/Chicago
                        work_status:
                          available: true
                          tracking: true
                        worker_handle: worker001
                      - created_at: 2025-01-15 14:30:00.000000
                        device:
                          device_id: BBB22222-CCCC-3333-DDDD-4444EEEE5555
                          info:
                            device_brand: Apple
                            device_model: iPhone13,2
                            name: worker002
                            network_operator: CarrierY
                            os_name: iOS
                            os_version: 17.0.1
                            sdk_version: 5.11.0+abcd1234
                            timezone: America/Chicago
                          profile:
                            driver_handle: worker002
                          status:
                            data:
                              reason: manual_shutdown
                              recorded_at: 2025-05-16T08:15:00.000Z
                            value: inactive
                        distance: 8373.143574586262
                        location:
                          coordinates:
                            - -89.080647
[...]
