openapi: 3.2.0
info:
  title: HyperTrack Orders API
  version: '1.0'
  description: HyperTrack API Reference — Orders, Workers, Places, Routes, and more.
  contact:
    name: HyperTrack support
    url: https://hypertrack.com/contact
    email: help@hypertrack.com
servers:
- url: https://v3.api.hypertrack.com
tags:
- name: Orders
paths:
  /orders/:
    get:
      parameters:
      - in: query
        name: worker_handle
        description: Unique customer provided identifier of the worker to used retrieve orders associated with the specified worker
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: place_handle
        description: Unique customer provided identifier of the place to be used retrieve orders associated with the specified place
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: search_term
        description: String representing the search term. Search will be done on order_handle, ops_group_handle, worker_handle and metadata fields.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: ops_group_handle
        description: Unique Handle of Ops Group to fetch orders for
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: order_metadata_filter
        description: JSON encoded string for order metadata to filter orders by
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: risk_status
        description: Filter for risk status of order
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: region_filter
        description: JSON object containing `city`, `state`, or `country` used to filter orders
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: status
        description: String representation of Order status to fetch orders for. It can be comma separated list, each item in list can be one of `completed`, `cancelled`, `rescheduled`, `disabled`, `ongoing`, `unplanned`, `assigned`, `planned`. eg. `?status=completed,cancelled` or `?status=completed` to filter for one status
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: device_id
        description: Filter for orders associated with this device id.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: destination_geohash
        description: Geohash of the area where order destination must lie.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: plan_mode
        description: Mode of planning to be used to filter orders
        schema:
          enum:
          - on_demand
          - scheduled
          - manual
          - pool
        required: false
      - in: query
        name: plan_id
        description: Filter for orders in this plan id.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: route_handle
        description: Unique Handle of the route to fetch orders for
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: track_mode
        description: Tracking mode to filter orders by. See [pre_shift](https://hypertrack.com/docs/shift-tracking#pre-shift-tracking), [on_shift](https://hypertrack.com/docs/shift-tracking#on-shift-tracking) documentation. `full_shift` includes both pre-shift and on-shift tracking. Note that `on_time` and `flex` are deprecated modes.
        schema:
          enum:
          - on_time
          - flex
          - pre_shift
          - on_shift
          - full_shift
        required: false
      - in: query
        name: device_switch_mode
        description: Device switch mode to filter orders by.
        schema:
          enum:
          - manual
          - login
          - closest_to_destination
        required: false
      - in: query
        name: created_at_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are created on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: created_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders that created within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: created_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve orders that created within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: planned_at_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are planned on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: planned_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders planned within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: planned_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders planned within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: scheduled_at_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are scheduled on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: scheduled_at_date_without_tz
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are scheduled on a given date irrespective of timezone.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: completed_at_date_without_tz
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are completed on a given date irrespective of timezone.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: scheduled_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders which have scheduled_at within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: scheduled_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve orders that which have scheduled_at within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: scheduled_at_without_tz_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders of that day in all timezone.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: scheduled_at_without_tz_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve orders of that day in all timezone.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: cancelled_at_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are cancelled on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: cancelled_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders that cancelled within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: cancelled_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve orders that cancelled within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: completed_at_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are completed on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: completed_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders that completed within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: completed_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve orders that completed within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: rescheduled_marked_at_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are rescheduled on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: rescheduled_marked_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders that rescheduled within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: rescheduled_marked_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve orders that rescheduled within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: route_started_at_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders for which route started on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: route_started_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders for which route started within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: route_started_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve orders for which route started within a timeframe.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: completed_at_without_tz_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve orders of that day for all timezone for completed orders.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: completed_at_without_tz_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve orders of that day for all timezone for completed orders.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: created_at_without_tz_from
        description: Start Date (YYYY-MM-DD ) of the window to retrieve orders from that day for all timezone for created orders.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: created_at_without_tz_to
        description: End Date (YYYY-MM-DD ) of the window to retrieve orders till that day for all timezone for created orders.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: created_at_date_without_tz
        description: Date (YYYY-MM-DD) used as a filter to retrieve orders that are created on a given date irrespective of timezone.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: driver_handle
        description: Unique customer provided identifier of the driver to used retrieve orders associated with the specified driver
        schema:
          type:
          - string
          - 'null'
          deprecated: true
        required: false
      - in: query
        name: sort_direction
        description: String indicating the preferred sorting type
        schema:
          enum:
          - desc
          - asc
        required: false
      - in: query
        name: fulfillment_attempt
        description: Filter for fulfillment attempt number
        schema:
          type:
          - integer
          - 'null'
        required: false
      - in: query
        name: aggregate
        description: Flag to fetch order's aggregated data.
        schema:
          type:
          - boolean
          - 'null'
        required: false
      - in: query
        name: limit
        description: Limit to number of results in response
        schema:
          type:
          - integer
          - 'null'
        required: false
      - in: query
        name: pagination_token
        description: Encoded value provided by our API to retrieve the next page of orders
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: send_outage
        description: Boolean to send the outage in aggregation
        schema:
          type:
          - boolean
          - 'null'
        required: false
      - in: query
        name: tracking_status
        description: Parameter to filter for tracked and untracked orders
        schema:
          type:
          - string
          - 'null'
          enum:
          - tracked
          - untracked
        required: false
      - in: query
        name: filter_outage_category
        description: List of outage category as comma separated strings used for filtering associated orders within time range
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: worker_profile_filter
        description: JSON encoded string metadata associated with the worker to filter orders
        schema:
          type:
          - string
          - 'null'
          format: Encoded JSON
        required: false
      - in: query
        name: worker_inside_destination
        description: Boolean flag to filter orders based on whether the worker is inside the destination or not.
        schema:
          type:
          - boolean
          - 'null'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrdersResponse'
              examples:
                Filtered on date, ops_group_handle and status:
                  summary: Filtered on date, ops_group_handle and status
                  value:
                    orders:
                    - order_handle: order-1
                      fulfillment_attempt: 0
                      status: completed
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - -121.9007247
                          - 37.3811932
                        address: 1028 E Brokaw Rd, San Jose, CA 95131
                        radius: 100
                      ops_group_handle: store-SF
                      track_mode: on_time
                      plan_mode: manual
                      scheduled_at: 2023-10-31 04:00:00+00:00
                      type: drop
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      metadata:
                        customerID: '12654'
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      product_type:
                      - frozen
                      - fragile
                      completed_at: 2023-10-31 23:13:21.287000+00:00
                      device_id: 52193948-1A79-14GF-AB81-2FB0A59536S3
                      worker_handle: james@ht.com
                      created_at: 2023-10-30 23:41:47.489000+00:00
                      assigned_at: 2023-10-31 23:13:03.712000+00:00
                      route_handle: a3f6e79c-c830-4766-8a3d-9eeaa5099ce2
                Filtered on date, worker and status:
                  summary: Filtered on date, worker and status
                  value:
                    orders:
                    - order_handle: order-1
                      fulfillment_attempt: 0
                      status: completed
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - -121.9007247
                          - 37.3811932
                        address: 1028 E Brokaw Rd, San Jose, CA 95131
                        radius: 100
                      ops_group_handle: store-SF
                      track_mode: on_time
                      plan_mode: manual
                      scheduled_at: 2023-10-31 04:00:00+00:00
                      type: drop
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      metadata:
                        customerID: '12654'
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      product_type:
                      - frozen
                      - fragile
                      completed_at: 2023-10-31 23:13:21.287000+00:00
                      device_id: 52193948-1A79-14GF-AB81-2FB0A59536S3
                      worker_handle: james@ht.com
                      created_at: 2023-10-30 23:41:47.489000+00:00
                      assigned_at: 2023-10-31 23:13:03.712000+00:00
                      route_handle: a3f6e79c-c830-4766-8a3d-9eeaa5099ce2
                Filtered on date and status:
                  summary: Filtered on date and status
                  value:
                    orders:
                    - order_handle: order-1
                      fulfillment_attempt: 0
                      status: cancelled
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - -121.8871193
                          - 37.390611
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        radius: 100
                      ops_group_handle: store-SF
                      track_mode: on_time
                      plan_mode: scheduled
                      scheduled_at: 2023-10-31 02:00:00+00:00
                      type: pick
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      metadata:
                        customerID: '12654'
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      product_type:
                      - frozen
                      - fragile
                      cancelled_at: 2023-10-31 23:13:13.926000+00:00
                      device_id: 52393948-1A79-47CC-AB81-2FB0A59536D1
                      worker_handle: james@ht.com
                      created_at: 2023-10-30 23:42:28.655000+00:00
                      assigned_at: 2023-10-31 23:13:03.617000+00:00
                      route_handle: a3f6e79c-c830-4766-8a3d-9eeaa5099ce2
                      plan_id: a7a9c72e-bf31-44f5-8a59-c4fffb5fb9d4
                    - order_handle: order-2
                      fulfillment_attempt: 0
                      status: cancelled
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - -121.8871193
                          - 37.390611
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        radius: 100
                      ops_group_handle: store-SF
                      track_mode: on_time
                      plan_mode: manual
                      scheduled_at: 2023-10-31 02:00:00+00:00
                      type: pick
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      metadata:
                        customerID: '12654'
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      product_type:
                      - frozen
                      - fragile
                      cancelled_at: 2023-10-31 00:13:01.073000+00:00
                      created_at: 2023-10-30 23:41:47.489000+00:00
                      route_handle: afb94d64-2702-4efa-b938-d1facfd7832c
                    - order_handle: order-4
                      fulfillment_attempt: 0
                      status: cancelled
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - -121.8970798
                          - 37.3838274
                        address: 1710 Old Oakland Rd, San Jose, CA 95131
                      ops_group_handle: store-SF
                      track_mode: on_time
                      plan_mode: manual
                      scheduled_after: 2023-10-31 02:00:00+00:00
                      scheduled_at: 2023-10-31 04:00:00+00:00
                      type: drop
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      metadata:
                        customerId: '1442'
                        name: Jordan
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      product_type:
                      - frozen
                      - fragile
                      - valuable
                      cancelled_at: 2023-10-31 00:12:56.688000+00:00
                      created_at: 2023-10-30 22:22:54.071000+00:00
                      route_handle: afb94d64-2702-4efa-b938-d1facfd7832c
                Unplanned orders with planning failure reason:
                  summary: Unplanned orders with planning failure reason
                  value:
                    orders:
                    - order_handle: order-5
                      fulfillment_attempt: 0
                      status: unplanned
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - -121.8970798
                          - 37.3838274
                        address: 1710 Old Oakland Rd, San Jose, CA 95131
                        radius: 100
                      ops_group_handle: store-SF
                      plan_mode: scheduled
                      plan_id: a7a9c72e-bf31-44f5-8a59-c4fffb5fb9d4
                      scheduled_after: 2023-10-31 02:00:00+00:00
                      scheduled_at: 2023-10-31 04:00:00+00:00
                      type: drop
                      expected_service_time: 0
                      capacity_used: 1
                      created_at: 2023-10-30 22:22:54.071000+00:00
                      planning_failure_reason: The optimizer dropped this order to satisfy planning constraints for the overall plan.
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Get Orders
      description: '### Planning failure reasons


        When an order is left unplanned by automated planning, `planning_failure_reason` may contain one of these values:


        - `No Worker was available for this plan.`

        - `No Worker schedule overlaps with this order''s time window.`

        - `This order is outside the available Worker working hours.`

        - `Worker location is unavailable, so travel time could not be evaluated.`

        - `Worker start location is unavailable for the configured route start setting.`

        - `No Worker supports the required product type for this order.`

        - `Route was being modified concurrently and this order needs to be re-planned.`

        - `The optimizer dropped this order to satisfy planning constraints for the overall plan.`

        - `The optimizer could not find a feasible plan for the provided constraints.`

        - `Travel time calculation failed for this planning attempt.`

        - `Ops group configuration is incomplete for automated planning.`

        - `Assigning this order would exceed route or Worker capacity.`

        - `No Worker can reach this order before scheduled_at.`

        - `Assigning this order would delay an already planned downstream order.`

        - `Assigning this order would exceed the Worker''s shift end time.`

        - `Existing assigned route conflicts with the Worker schedule, so this order could not be inserted into the plan.`

        - `Existing assigned route exceeds the Worker''s shift, so this order could not be inserted into the plan.`

        - `Existing assigned route has conflicting appointment windows, so this order could not be inserted into the plan.`

        - `Existing assigned route exceeds route or Worker capacity, so this order could not be inserted into the plan.`

        - `Existing assigned route exceeds the configured maximum route distance, so this order could not be inserted into the plan.`

        - `Existing assigned routes were preserved, so this order could not be inserted into the plan.`

        - `Assigning this order would exceed the configured maximum route distance.`

        - `The optimizer reached its planning limit before it could assign this order.`

        - `Automated planning could not assign this order with the provided constraints.`'
      security:
      - BasicAuth: []
      - TokenAuth: []
    post:
      parameters: []
      responses:
        '201':
          description: One of OrderListResponse or PlanResponse
          content:
            application/json:
              schema:
                oneOf:
                - $ref: '#/components/schemas/RouteDetail'
                - $ref: '#/components/schemas/PlanResponse'
                - $ref: '#/components/schemas/OrderListResponse'
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '409':
          description: Conflict - Planning request already executing for one of the orders
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Batch and Sequence Orders
      description: Post a sequence of orders to be planned either manually or automatically by HyperTrack. For automatic planning, please contact the HyperTrack team to get set up.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchOrdersRequest'
            examples:
              Orders for manual planning without worker_handle:
                summary: Create orders for to be planned manually.
                value:
                  plan_mode: manual
                  ops_group_handle: store-SF
                  orders:
                  - order_handle: order-1
                    scheduled_at: 2023-10-31 02:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: pick
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1709 Automation Pkwy, San Jose, CA 95101
                      geometry:
                        type: Point
                        coordinates:
                        - -121.8871193
                        - 37.390611
                      radius: 100
                  - order_handle: order-2
                    scheduled_at: 2023-10-31 04:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: drop
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1028 E Brokaw Rd, San Jose, CA 95131
                      geometry:
                        type: Point
                        coordinates:
                        - -121.9007247
                        - 37.3811932
                      radius: 100
              Orders for manual planning with worker_handle:
                summary: Create orders for to be planned manually when worker handle has been provided.
                value:
                  plan_mode: manual
                  ops_group_handle: store-SF
                  worker_handle: test_driver
                  orders:
                  - order_handle: order-1
                    scheduled_at: 2023-10-31 02:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: pick
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1709 Automation Pkwy, San Jose, CA 95101
                      geometry:
                        type: Point
                        coordinates:
                        - -121.8871193
                        - 37.390611
                      radius: 100
                  - order_handle: order-2
                    scheduled_at: 2023-10-31 04:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: drop
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1028 E Brokaw Rd, San Jose, CA 95131
                      geometry:
                        type: Point
                        coordinates:
                        - -121.9007247
                        - 37.3811932
                      radius: 100
              Orders for on demand planning without worker_handle:
                summary: Create orders for to be planned manually.
                value:
                  plan_mode: on_demand
                  ops_group_handle: store-SF
                  orders:
                  - order_handle: order-1
                    scheduled_at: 2023-10-31 02:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: pick
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1709 Automation Pkwy, San Jose, CA 95101
                      geometry:
                        type: Point
                        coordinates:
                        - -121.8871193
                        - 37.390611
                      radius: 100
                  - order_handle: order-2
                    scheduled_at: 2023-10-31 04:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: drop
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1028 E Brokaw Rd, San Jose, CA 95131
                      geometry:
                        type: Point
                        coordinates:
                        - -121.9007247
                        - 37.3811932
                      radius: 100
              Orders for on demand planning with worker_handle:
                summary: Create orders for to be planned manually when worker handle has been provided.
                value:
                  plan_mode: on_demand
                  ops_group_handle: store-SF
                  worker_handle: test_driver
                  orders:
                  - order_handle: order-1
                    scheduled_at: 2023-10-31 02:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: pick
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1709 Automation Pkwy, San Jose, CA 95101
                      geometry:
                        type: Point
                        coordinates:
                        - -121.8871193
                        - 37.390611
                      radius: 100
                  - order_handle: order-2
                    scheduled_at: 2023-10-31 04:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: drop
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1028 E Brokaw Rd, San Jose, CA 95131
                      geometry:
                        type: Point
                        coordinates:
                        - -121.9007247
                        - 37.3811932
                      radius: 100
              Orders for scheduled planning:
                summary: Create orders scheduled for later that are to be planned automatically.
                value:
                  plan_mode: scheduled
                  ops_group_handle: store-SF
                  orders:
                  - order_handle: order-3
                    scheduled_at: 2023-10-31 02:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: pick
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1709 Automation Pkwy, San Jose, CA 95101
                      geometry:
                        type: Point
                        coordinates:
                        - -121.8871193
                        - 37.390611
                      radius: 100
                  - order_handle: order-4
                    scheduled_at: 2023-10-31 04:00:00+00:00
                    product_type:
                    - frozen
                    - fragile
                    type: drop
                    metadata:
                      customerID: '12654'
                    destination:
                      address: 1028 E Brokaw Rd, San Jose, CA 95131
                      geometry:
                        type: Point
                        coordinates:
                        - -121.9007247
                        - 37.3811932
                      radius: 100
      security:
      - BasicAuth: []
      - TokenAuth: []
  /orders/track:
    post:
      parameters: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TrackOrdersResponse'
              examples:
                Create and track orders:
                  summary: Create and track orders
                  value:
                    route_handle: 7ac07153-5590-46c5-9ada-a6ca84f5b48f
                    status: tracking
                    version: 1
                    embed_url: https://embed.hypertrack.com/routes/7ac07153-5590-46c5-9ada-a6ca84f5b48f?publishable_key=a4pvdQPekFgLSuZrwivhJS_Squ6irX1n9sRBIn9nl3PTK-5y3BO56rolpGuzhp1pIoH4TiDyqWIq8IEkOJF5ed
                    orders:
                    - order_handle: order-1
                      fulfillment_attempt: 0
                      status: ongoing
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - 17.803927
                          - 34.832173
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        radius: 100
                      track_mode: on_time
                      scheduled_at: 2023-11-02 02:00:00+00:00
                      started_at: 2023-11-01 22:47:56.027000+00:00
                      type: pick
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      share_url: https://trck.at/PvR4MmWOpw
                      device_id: FFA58DDB-5CA0-4CD5-8BDE-E4EC7E077E3D
                      worker_handle: james@ht.com
                      created_at: 2023-11-01 22:47:53.512000+00:00
                      assigned_at: 2023-11-01 22:47:53.857000+00:00
                      route_handle: 7ac07153-5590-46c5-9ada-a6ca84f5b48f
                      planned_at: 2023-11-01 22:47:53.512000+00:00
                    - order_handle: order-2
                      fulfillment_attempt: 0
                      status: ongoing
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - 17.803926
                          - 34.832174
                        address: 748 Story Rd, San Jose, CA 95112
                        radius: 100
                      track_mode: on_time
                      scheduled_at: 2023-11-02 02:00:00+00:00
                      started_at: 2023-11-01 22:47:56.092000+00:00
                      type: drop
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      share_url: https://trck.at/NqV7Xm22pC
                      device_id: FFA58DDB-5CA0-4CD5-8BDE-E4EC7E077E3D
                      worker_handle: james@ht.com
                      created_at: 2023-11-01 22:47:53.512000+00:00
                      assigned_at: 2023-11-01 22:47:53.914000+00:00
                      route_handle: 7ac07153-5590-46c5-9ada-a6ca84f5b48f
                      planned_at: 2023-11-01 22:47:53.512000+00:00
                    started_at: 2023-11-01 22:47:54.867000+00:00
                    assigned_at: 2023-11-01 22:47:53.968000+00:00
                    created_at: 2023-11-01 22:47:53.659000+00:00
                    device_id: FFA58DDB-5CA0-4CD5-8BDE-E4EC7E077E3D
                    worker_handle: james@ht.com
                    planned_at: 2023-11-01 22:47:53.658000+00:00
                Track orders using the route_handle:
                  summary: Track orders using route_handle
                  value:
                    route_handle: 7ac07153-5590-46c5-9ada-a6ca84f5b48f
                    status: tracking
                    version: 1
                    embed_url: https://embed.hypertrack.com/routes/7ac07153-5590-46c5-9ada-a6ca84f5b48f?publishable_key=a4pvdQPekFgLSuZrwivhJS_Squ6irX1n9sRBIn9nl3PTK-5y3BO56rolpGuzhp1pIoH4TiDyqWIq8IEkOJF5ed
                    orders:
                    - order_handle: order-1
                      fulfillment_attempt: 0
                      status: ongoing
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - 17.803927
                          - 34.832173
                        address: 1709 Automation Pkwy, San Jose, CA 95101
                        radius: 100
                      track_mode: on_time
                      scheduled_at: 2023-11-02 02:00:00+00:00
                      started_at: 2023-11-01 22:47:56.027000+00:00
                      type: pick
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      share_url: https://trck.at/PvR4MmWOpw
                      device_id: FFA58DDB-5CA0-4CD5-8BDE-E4EC7E077E3D
                      worker_handle: james@ht.com
                      created_at: 2023-11-01 22:47:53.512000+00:00
                      assigned_at: 2023-11-01 22:47:53.857000+00:00
                      route_handle: 7ac07153-5590-46c5-9ada-a6ca84f5b48f
                      planned_at: 2023-11-01 22:47:53.512000+00:00
                    - order_handle: order-2
                      fulfillment_attempt: 0
                      status: ongoing
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - 17.803926
                          - 34.832174
                        address: 748 Story Rd, San Jose, CA 95112
                        radius: 100
                      track_mode: on_time
                      scheduled_at: 2023-11-02 02:00:00+00:00
                      started_at: 2023-11-01 22:47:56.092000+00:00
                      type: drop
                      type_index: 0
                      expected_service_time: 0
                      capacity_used: 1
                      share_url: https://trck.at/NqV7Xm22pC
                      device_id: FFA58DDB-5CA0-4CD5-8BDE-E4EC7E077E3D
                      worker_handle: james@ht.com
                      created_at: 2023-11-01 22:47:53.512000+00:00
                      assigned_at: 2023-11-01 22:47:53.914000+00:00
                      route_handle: 7ac07153-5590-46c5-9ada-a6ca84f5b48f
                      planned_at: 2023-11-01 22:47:53.512000+00:00
                    started_at: 2023-11-01 22:47:54.867000+00:00
                    assigned_at: 2023-11-01 22:47:53.968000+00:00
                    created_at: 2023-11-01 22:47:53.659000+00:00
                    device_id: FFA58DDB-5CA0-4CD5-8BDE-E4EC7E077E3D
                    worker_handle: james@ht.com
                    planned_at: 2023-11-01 22:47:53.658000+00:00
          description: Successful response
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                driver_not_linked_to_device:
                  summary: driver_not_linked_to_device
                  value:
                    code: driver_not_linked_to_device
                    title: Worker needs to be linked to a device first
                    detail:
                      description: The worker is not yet linked to a device
                route validation_error:
                  summary: validation_error
                  value:
                    code: validation_error
                    title: Order request is malformed
                    detail: The request does not have the correct format. Please review the invalid parameters
                route already completed validation_error:
                  summary: validation_error__2
                  value:
                    code: validation_error
                    title: Route already completed
                    detail: Route with the given ID is already completed
                route already tracking validation_error:
                  summary: validation_error__3
                  value:
                    code: validation_error
                    title: Route already tracking
                    detail: Route with the given ID is already tracking
                route cannot be tracked validation_error:
                  summary: validation_error__4
                  value:
                    code: validation_error
                    title: Route can not be tracked
                    detail: Route with the given ID can not be tracked
                ops_group_not_defined:
                  summary: ops_group_not_defined
                  value:
                    code: ops_group_not_defined
                    title: Ops Group is not defined
                    detail:
                      description: Ops Group <ops_group_handle> does not exist
                destination_place_not_found:
                  summary: destination_place_not_found
                  value:
                    code: destination_place_not_found
                    title: Place not found
                    detail:
                      description: Place not defined for place handle <place_handle> in order destination for order <order_handle>
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                driver_not_found:
                  summary: driver_not_found
                  value:
                    code: driver_not_found
                    title: Worker Not Found
                    detail:
                      description: Worker not found for handle <driver_handle>
                route_not_found:
                  summary: route_not_found
                  value:
                    code: route_not_found
                    title: Route does not exist
                    detail: Route with this ID does not exist in the system
                driver_deleted:
                  summary: driver_deleted
                  value:
                    code: driver_deleted
                    title: Worker is in deleted state for given handle
                    detail: Worker with the given handle is in deleted state. Please undelete it using Workers API
                device_not_found:
                  summary: device_not_found
                  value:
                    code: device_not_found
                    title: Device could not be found
                    detail: null
                geofence_not_found:
                  summary: geofence_not_found
                  value:
                    code: geofence_not_found
                    title: Geofence Not Found
                    detail:
                      description: Geofence not found for id <geofence_id>
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                route duplicate_resource:
                  summary: duplicate_resource
                  value:
                    code: duplicate_resource
                    title: Duplicate route found with this ID
                    detail: System already has a route with this ID
                order duplicate_resource:
                  summary: duplicate_resource__2
                  value:
                    code: duplicate_resource
                    title: Duplicate order handle found
                    detail: System already has an incompleted order with this handle. Please complete or cancel it first
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Track Orders
      description: This API allows the creation and immediate tracking of order fulfillment. If the route has been planned and exists in the HyperTrack system, then tracking can be initiated using the route_handle.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TrackOrdersRequest'
            examples:
              Create and track orders:
                summary: Create and track orders
                value:
                  worker_handle: james@ht.com
                  track_mode: on_time
                  ops_group_handle: SAN_JOSE_WH
                  orders:
                  - order_handle: order-1
                    type: pick
                    scheduled_at: 2023-11-02 02:00:00+00:00
                    destination:
                      address: 1709 Automation Pkwy, San Jose, CA 95101
                      geometry:
                        type: Point
                        coordinates:
                        - 17.803927
                        - 34.832173
                      radius: 100
                  - order_handle: order-2
                    type: drop
                    scheduled_at: 2023-11-02 02:00:00+00:00
                    destination:
                      address: 748 Story Rd, San Jose, CA 95112
                      geometry:
                        type: Point
                        coordinates:
                        - 17.803927
                        - 34.832173
                      radius: 100
              Track orders using the route_handle:
                summary: Track orders using the route_handle
                value:
                  track_mode: on_time
                  route_handle: 7ac07153-5590-46c5-9ada-a6ca84f5b48f
                  device_id: FFA58DDB-5CA0-4CD5-8BDE-E4EC7E077E3D
      security:
      - BasicAuth: []
      - TokenAuth: []
  /orders/plans:
    get:
      parameters:
      - in: query
        name: fulfillment_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve plans that are fulfilled on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: ops_group_handle
        description: Unique Handle of Ops Group to fetch plans for
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: pagination_token
        description: Encoded value provided by our API to retrieve the next page of plans
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: status
        description: String representation of Plan status to fetch plans for.
        schema:
          type:
          - string
          - 'null'
          enum:
          - failed
          - completed
          - planning
        required: false
      - in: query
        name: sort_direction
        description: String indicating the preferred sorting type
        schema:
          default: desc
          enum:
          - desc
          - asc
        required: false
      - in: query
        name: include_summary
        description: Flag to fetch summary also for each plan.
        schema:
          type:
          - boolean
          - 'null'
          default: false
        required: false
      - in: query
        name: limit
        description: Number of plans to be fetched.
        schema:
          type:
          - integer
          - 'null'
          default: 50
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlansResponse'
              example:
                plans:
                - plan_id: 352a45c3-99b7-4528-9eca-a6f318c2ca23
                  status: failed
                  started_at: 2023-10-19 12:34:45+00:00
                  fulfillment_date: 2023-10-19
                  created_at: 2023-10-19 12:32:45+00:00
                  ops_group_handle: d57deee8-d75f-4db5-ad37-4985ddcb47ac
                  sequence_number: 2
                  failure_reason: No Workers Available
                  routes:
                  - route_handle: route-1
                    ops_group_handle: SAN_JOSE_WH
                    plan_mode: manual
                    status: completed
                    completed_at: 2023-03-14 23:55:00+00:00
                    worker_handle: James
                    version: 1
                    estimate:
                      start_by: 2023-03-14 23:20:00+00:00
                      distance: 1000
                      duration: 600
                      polyline:
                        type: LineString
                        coordinates:
                        - - 77.72123
                          - 12.89617
                        - - 77.72169
                          - 12.89595
                        - - 77.72214
                          - 12.89572
                      start_location:
                        type: Point
                        coordinates:
                        - -121.8924515
                        - 37.4124516
                      end_location:
                        type: Point
                        coordinates:
                        - -121.8984515
                        - 37.5124516
                    orders:
                    - order_handle: order-101
                      fulfillment_attempt: 1
                      status: completed
                      completed_at: 2023-03-14 23:55:00+00:00
                      ops_group_handle: store-sjc
                      worker_handle: James
                      device_id: 2F659D4D-B524-45F0-A6E2-093CF2BB5574
                      created_at: 2023-03-14 23:00:00+00:00
                      scheduled_at: 2023-03-14 23:50:00+00:00
                      scheduled_after: 2023-03-14 23:20:00+00:00
                      metadata:
                        customerId: '1223344'
                      region:
                        city: Fremont
                        state: California
                        country: United States of America
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - -121.8984515
                          - 37.5124516
                        radius: 50
                        address: Mission Peak, Fremont CA 94539
                      risk_status: false
                      expected_service_time: 600
                      product_type:
                      - plumber
                      type: drop
                      capacity_used: 5
                    device_id: 2F659D4D-B524-45F0-A6E2-093CF2BB5574
                    metadata:
                      customerId: '4255534'
                      zone: 4
                    embed_url: https://embed.hypertrack.com/dkdkddnd
                  unplanned_orders:
                  - order_handle: ORD_1223
                    status: unplanned
                    type: drop
                    planning_failure_reason: The optimizer dropped this order to satisfy planning constraints for the overall plan.
                pagination_token: bvdshjbcjksbcjk
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Get Plans
      description: API to fetch list of plans based on a set of filters Unplanned orders may include planning_failure_reason, a customer-facing explanation of why automated planning could not assign the order.
      security:
      - BasicAuth: []
      - TokenAuth: []
  /orders/plans/:
    get:
      parameters:
      - in: query
        name: fulfillment_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve plans that are fulfilled on a given date.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: ops_group_handle
        description: Unique Handle of Ops Group to fetch plans for
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: pagination_token
        description: Encoded value provided by our API to retrieve the next page of plans
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: status
        description: String representation of Plan status to fetch plans for.
        schema:
          type:
          - string
          - 'null'
          enum:
          - failed
          - completed
          - planning
        required: false
      - in: query
        name: sort_direction
        description: String indicating the preferred sorting type
        schema:
          default: desc
          enum:
          - desc
          - asc
        required: false
      - in: query
        name: include_summary
        description: Flag to fetch summary also for each plan.
        schema:
          type:
          - boolean
          - 'null'
          default: false
        required: false
      - in: query
        name: limit
        description: Number of plans to be fetched.
        schema:
          type:
          - integer
          - 'null'
          default: 50
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetPlansResponse'
              example:
                plans:
                - plan_id: 352a45c3-99b7-4528-9eca-a6f318c2ca23
                  status: failed
                  started_at: 2023-10-19 12:34:45+00:00
                  fulfillment_date: 2023-10-19
                  created_at: 2023-10-19 12:32:45+00:00
                  ops_group_handle: d57deee8-d75f-4db5-ad37-4985ddcb47ac
                  sequence_number: 2
                  failure_reason: No Workers Available
                  routes:
                  - route_handle: route-1
                    ops_group_handle: SAN_JOSE_WH
                    plan_mode: manual
                    status: completed
                    completed_at: 2023-03-14 23:55:00+00:00
                    worker_handle: James
                    version: 1
                    estimate:
                      start_by: 2023-03-14 23:20:00+00:00
                      distance: 1000
                      duration: 600
                      polyline:
                        type: LineString
                        coordinates:
                        - - 77.72123
                          - 12.89617
                        - - 77.72169
                          - 12.89595
                        - - 77.72214
                          - 12.89572
                      start_location:
                        type: Point
                        coordinates:
                        - -121.8924515
                        - 37.4124516
                      end_location:
                        type: Point
                        coordinates:
                        - -121.8984515
                        - 37.5124516
                    orders:
                    - order_handle: order-101
                      fulfillment_attempt: 1
                      status: completed
                      completed_at: 2023-03-14 23:55:00+00:00
                      ops_group_handle: store-sjc
                      worker_handle: James
                      device_id: 2F659D4D-B524-45F0-A6E2-093CF2BB5574
                      created_at: 2023-03-14 23:00:00+00:00
                      scheduled_at: 2023-03-14 23:50:00+00:00
                      scheduled_after: 2023-03-14 23:20:00+00:00
                      metadata:
                        customerId: '1223344'
                      region:
                        city: Fremont
                        state: California
                        country: United States of America
                      destination:
                        geometry:
                          type: Point
                          coordinates:
                          - -121.8984515
                          - 37.5124516
                        radius: 50
                        address: Mission Peak, Fremont CA 94539
                      risk_status: false
                      expected_service_time: 600
                      product_type:
                      - plumber
                      type: drop
                      capacity_used: 5
                    device_id: 2F659D4D-B524-45F0-A6E2-093CF2BB5574
                    metadata:
                      customerId: '4255534'
                      zone: 4
                    embed_url: https://embed.hypertrack.com/dkdkddnd
                  unplanned_orders:
                  - order_handle: ORD_1223
                    status: unplanned
                    type: drop
                    planning_failure_reason: The optimizer dropped this order to satisfy planning constraints for the overall plan.
                pagination_token: bvdshjbcjksbcjk
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Get Plans
      description: API to fetch list of plans based on a set of filters Unplanned orders may include planning_failure_reason, a customer-facing explanation of why automated planning could not assign the order.
      security:
      - BasicAuth: []
      - TokenAuth: []
  /orders/export:
    post:
      parameters: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderExportResponse'
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Create an order export job
      description: Creates an asynchronous job to export orders to CSV.gz file. Returns a job_id that can be used to check status. Download link will be sent via email when ready.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrderExportRequest'
      security:
      - BasicAuth: []
      - TokenAuth: []
  /orders/routes/:
    get:
      parameters:
      - in: query
        name: completed_at_date
        description: Filter for routes completed on specified date (YYYY-MM-DD)
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: completed_at_from
        description: Filter for routes completed after specified timestamp (YYYY-MM-DD HH:mm:ss)
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: completed_at_to
        description: Filter for routes completed before specified timestamp (YYYY-MM-DD HH:mm:ss)
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: created_at_date
        description: Filter for routes created on specified date (YYYY-MM-DD)
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: created_at_from
        description: Filter for routes created after specified timestamp (YYYY-MM-DD HH:mm:ss)
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: created_at_to
        description: Filter for routes created before specified timestamp (YYYY-MM-DD HH:mm:ss)
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: worker_handle
        description: Unique customer provided identifier of the worker to used retrieve routes associated with the specified worker
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: driver_handle
        description: Unique customer provided identifier of the driver to used retrieve routes associated with the specified driver
        schema:
          type:
          - string
          - 'null'
          deprecated: true
        required: false
      - in: query
        name: ops_group_handle
        description: Filter for routes on specified ops group handle or list of comma separated handles
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: plan_mode
        description: Filter for routes on specified plan mode (`manual` -> routes created manually, `scheduled` -> routes created automatically)
        schema:
          type:
          - string
          - 'null'
          enum:
          - on_demand
          - scheduled
          - manual
        required: false
      - in: query
        name: planned_at_date
        description: Filter for routes planned on specified date (YYYY-MM-DD).
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: planned_at_from
        description: Filter for routes planned after specified timestamp (YYYY-MM-DD HH:mm:ss)
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: planned_at_to
        description: Filter for routes planned before specified timestamp (YYYY-MM-DD HH:mm:ss)
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: region_filter
        description: JSON object containing `city`, `state`, or `country` used to filter routes
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: route_metadata_filter
        description: JSON object representing route metadata to be used to filter routes
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: sort_direction
        description: Sort route responses by `asc` or `desc` on the created_at timestamp
        schema:
          type:
          - string
          - 'null'
          enum:
          - asc
          - desc
        required: false
      - in: query
        name: start_by_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve routes that need to start by the given date
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: start_by_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve routes that need to start within a timeframe
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: start_by_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve routes that need to start within a timeframe
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: started_at_date
        description: Date (YYYY-MM-DD) used as a filter to retrieve routes that started on a given date
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: started_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve routes that started within a timeframe
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: started_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve routes that started within a timeframe
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: scheduled_start_at_from
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the start of window to retrieve routes that scheduled start within a timeframe
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: scheduled_start_at_to
        description: Timestamp (YYYY-MM-DD HH:mm:ss) of the end of window to retrieve routes that scheduled start within a timeframe
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: status
        description: Filter for routes that are `planned`, `assigned`, `tracking`, or `completed`, to filter for multiple statuses, pass them as comma separated values
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: track_mode
        description: Filter for routes that are `on_time`, `flex`, `on_shift`, `pre_shift` or `full_shift`
        schema:
          type:
          - string
          - 'null'
          enum:
          - on_time
          - flex
          - full_shift
          - on_shift
          - pre_shift
        required: false
      - in: query
        name: pagination_token
        description: Encoded value provided by our API to retrieve the next page of routes
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: search_term
        description: String representing the search term. Search will be done on route_handle, ops_group_handle, worker_handle and metadata fields.
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: limit
        description: Max results to fetch
        schema:
          type:
          - integer
          - 'null'
        required: false
      - in: query
        name: device_switch_mode
        description: Filter for routes with a device_switch_mode
        schema:
          enum:
          - manual
          - login
          - closest_to_destination
        required: false
      - in: query
        name: plan_id
        description: Filter by plan id
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: device_id
        description: Filter by device id
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: device_metadata_filter
        description: JSON object representing device metadata to be used to filter routes
        schema:
          type:
          - string
          - 'null'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetRoutesResponse'
              examples:
                Filtered by ops_group_handle and completion date:
                  summary: Filtered by ops_group_handle and completion date
                  value:
                    routes:
                    - route_handle: afb94d64-2702-4efa-b938-d1facfd7832e
                      status: completed
                      version: 1
                      embed_url: null
                      orders:
                      - order_handle: order-1
                        status: cancelled
                        type: drop
                        type_index: 0
                        estimate:
                          distance: 73863
                          duration: 3614
                          start_by: 2023-10-31 02:59:46+00:00
                        cancelled_at: 2023-10-31 00:12:56.688000+00:00
                        expected_service_time: 0
                      - order_handle: order-2
                        status: cancelled
                        type: pick
                        type_index: 0
                        estimate:
                          distance: 75766
                          duration: 3732
                          start_by: 2023-10-31 00:57:48+00:00
                        cancelled_at: 2023-10-31 00:13:01.073000+00:00
                        expected_service_time: 0
                      ops_group_handle: store-SF
                      started_at: 2023-10-31 00:57:48+00:00
                      created_at: 2023-10-31 00:12:22.767000+00:00
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      completed_at: 2023-10-31 00:13:01.255000+00:00
                      plan_mode: manual
                      plan_id: a7a9c72e-bf31-44f5-8a59-c4fffb5fb9d4
                    - route_handle: a3f6e79c-c830-4766-8a3d-9eeaa5099ce1
                      status: completed
                      version: 1
                      embed_url: https://embed.hypertrack.com/trips/a3f6e79c-c830-4766-8a3d-9eeaa5099ce2?publishable_key=a5pvd2PekFvSSuZrwivgJS_Ssd6irX1n9qRBIn9nl3PTK-5y3BO56rolpGuzhp1pIoH4TiDyqWIq8IEkOJCqeg
                      orders:
                      - order_handle: order-3
                        status: cancelled
                        type: pick
                        type_index: 0
                        estimate:
                          distance: 75766
                          duration: 3732
                          start_by: 2023-10-31 00:57:48+00:00
                        cancelled_at: 2023-10-31 23:13:13.926000+00:00
                        expected_service_time: 0
                      - order_handle: order-4
                        status: completed
                        type: drop
                        type_index: 0
                        estimate:
                          distance: 73514
                          duration: 3571
                          start_by: 2023-10-31 03:00:29+00:00
                        completed_at: 2023-10-31 23:13:21.287000+00:00
                        expected_service_time: 0
                      ops_group_handle: store-SF
                      started_at: 2023-10-31 03:00:29+00:00
                      assigned_at: 2023-10-31 23:13:03.788000+00:00
                      created_at: 2023-10-31 23:12:55.529000+00:00
                      device_id: 52223948-1A79-47CC-AB81-2FB0A59536D2
                      worker_handle: james@ht.com
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      completed_at: 2023-10-31 23:13:21.647000+00:00
                      plan_mode: manual
                Filtered by worker and completion date:
                  summary: Filtered by worker and completion date
                  value:
                    routes:
                    - route_handle: a3f6e79c-c830-4766-8a3d-9eebb5099ce2
                      status: completed
                      version: 1
                      embed_url: https://embed.hypertrack.com/trips/a3f6e79c-c830-4766-8a3d-9eebb5099ce2?publishable_key=a5pvwQPekFvLSuWrwivgJS_Squ6irX1n9qRBIn9nl3PTK-5y3BO56rolpGuzhp1pIoH4TiDyqWIq8IEkOJF5ja
                      orders:
                      - order_handle: 23Oct30-5
                        status: cancelled
                        type: pick
                        type_index: 0
                        estimate:
                          distance: 75766
                          duration: 3732
                          start_by: 2023-10-31 00:57:48+00:00
                        cancelled_at: 2023-10-31 23:13:13.926000+00:00
                        expected_service_time: 0
                      - order_handle: 23Oct30-4
                        status: completed
                        type: drop
                        type_index: 0
                        estimate:
                          distance: 73514
                          duration: 3571
                          start_by: 2023-10-31 03:00:29+00:00
                        completed_at: 2023-10-31 23:13:21.287000+00:00
                        expected_service_time: 0
                      ops_group_handle: store-SF
                      started_at: 2023-10-31 03:00:29+00:00
                      assigned_at: 2023-10-31 23:13:03.788000+00:00
                      created_at: 2023-10-31 23:12:55.529000+00:00
                      device_id: 52193948-1W29-47CC-AB81-2FCCA59536D2
                      worker_handle: james@ht.com
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      completed_at: 2023-10-31 23:13:21.647000+00:00
                      plan_mode: manual
                Filtered by status and schedule timerange:
                  summary: Filtered by status and schedule timerange
                  value:
                    routes:
                    - route_handle: afb94d64-2702-4efa-b938-d1facfd7832e
                      status: completed
                      version: 1
                      embed_url: null
                      orders:
                      - order_handle: order-1
                        status: cancelled
                        type: drop
                        type_index: 0
                        estimate:
                          distance: 73863
                          duration: 3614
                          start_by: 2023-10-31 02:59:46+00:00
                        cancelled_at: 2023-10-31 00:12:56.688000+00:00
                        expected_service_time: 0
                      - order_handle: order-2
                        status: cancelled
                        type: pick
                        type_index: 0
                        estimate:
                          distance: 75766
                          duration: 3732
                          start_by: 2023-10-31 00:57:48+00:00
                        cancelled_at: 2023-10-31 00:13:01.073000+00:00
                        expected_service_time: 0
                      ops_group_handle: store-SF
                      started_at: 2023-10-31 00:57:48+00:00
                      created_at: 2023-10-31 00:12:22.767000+00:00
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      completed_at: 2023-10-31 00:13:01.255000+00:00
                      plan_mode: manual
                      plan_id: a7a9c72e-bf31-44f5-8a59-c4fffb5fb9d4
                    - route_handle: a3f6e79c-c830-4766-8a3d-9eeaa5099ce1
                      status: completed
                      version: 1
                      embed_url: https://embed.hypertrack.com/trips/a3f6e79c-c830-4766-8a3d-9eeaa5099ce2?publishable_key=a5pvd2PekFvSSuZrwivgJS_Ssd6irX1n9qRBIn9nl3PTK-5y3BO56rolpGuzhp1pIoH4TiDyqWIq8IEkOJCqeg
                      orders:
                      - order_handle: order-3
                        status: cancelled
                        type: pick
                        type_index: 0
                        estimate:
                          distance: 75766
                          duration: 3732
                          start_by: 2023-10-31 00:57:48+00:00
                        cancelled_at: 2023-10-31 23:13:13.926000+00:00
                        expected_service_time: 0
                      - order_handle: order-4
                        status: completed
                        type: drop
                        type_index: 0
                        estimate:
                          distance: 73514
                          duration: 3571
                          start_by: 2023-10-31 03:00:29+00:00
                        completed_at: 2023-10-31 23:13:21.287000+00:00
                        expected_service_time: 0
                      ops_group_handle: store-SF
                      started_at: 2023-10-31 03:00:29+00:00
                      assigned_at: 2023-10-31 23:13:03.788000+00:00
                      created_at: 2023-10-31 23:12:55.529000+00:00
                      device_id: 52223948-1A79-47CC-AB81-2FB0A59536D2
                      worker_handle: james@ht.com
                      region:
                        country: United States
                        city: San Jose
                        state: California
                      completed_at: 2023-10-31 23:13:21.647000+00:00
                      plan_mode: manual
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Get Routes
      description: Retrieve routes based on the filter parameters provided Unplanned orders may include planning_failure_reason, a customer-facing explanation of why automated planning could not assign the order.
      security:
      - BasicAuth: []
      - TokenAuth: []
    post:
      parameters: []
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateManualRouteResponse'
              example:
                route_handle: route-1
                ops_group_handle: SAN_JOSE_WH
                plan_mode: manual
                status: planned
                version: 1
                estimate:
                  start_by: 2023-03-14 23:20:00+00:00
                  distance: 1000
                  duration: 600
                  polyline:
                    type: LineString
                    coordinates:
                    - - 77.72123
                      - 12.89617
                    - - 77.72169
                      - 12.89595
                    - - 77.72214
                      - 12.89572
                  start_location:
                    type: Point
                    coordinates:
                    - -121.8924515
                    - 37.4124516
                  end_location:
                    type: Point
                    coordinates:
                    - -121.8984515
                    - 37.5124516
                orders:
                - order_handle: order_handle_1
                  fulfillment_attempt: 1
                  status: planned
                  ops_group_handle: SAN_JOSE_WH
                  created_at: 2023-03-14 23:00:00+00:00
                  scheduled_at: 2023-03-14 23:50:00+00:00
                  scheduled_after: 2023-03-14 23:20:00+00:00
                  metadata:
                    customerId: '1223344'
                  region:
                    city: Fremont
                    state: California
                    country: United States of America
                  destination:
                    geometry:
                      type: Point
                      coordinates:
                      - -121.8984515
                      - 37.5124516
                    radius: 50
                    address: Mission Peak, Fremont CA 94539
                  risk_status: false
                  expected_service_time: 600
                  product_type:
                  - plumber
                  capacity_used: 5
                - order_handle: order_handle_2
                  fulfillment_attempt: 1
                  status: planned
                  ops_group_handle: SAN_JOSE_WH
                  created_at: 2023-03-14 23:00:00+00:00
                  scheduled_at: 2023-03-15 01:30:00+00:00
                  scheduled_after: 2023-03-15 01:00:00+00:00
                  metadata:
                    customerId: '1224244'
                  region:
                    city: San Francisco
                    state: California
                    country: United States of America
                  destination:
                    geometry:
                      type: Point
                      coordinates:
                      - -122.3779263
                      - 37.7320465
                    radius: 50
                    address: 888 Innes Ave, San Francisco, CA 94124
                  risk_status: false
                  expected_service_time: 600
                  product_type:
                  - plumber
                  capacity_used: 5
                embed_url: https://embed.hypertrack.com/dkdkddnd
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Create Route
      description: This API is used to plan a set of unplanned orders into a route
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateManualRouteRequest'
            example:
              track_mode: on_time
              ops_group_handle: SAN_JOSE_WH
              orders:
              - order_handle: order_handle_1
              - order_handle: order_handle_2
              optimise: true
      security:
      - BasicAuth: []
      - TokenAuth: []
  /orders/estimate:
    get:
      parameters:
      - in: query
        name: ops_group_handle
        description: Unique Handle of Ops Group to estimate route for
        schema:
          type: string
          minLength: 1
        required: true
      - in: query
        name: orders
        description: 'List of Orders in the desired sequence to do the estimate, it should be list of json object, eg: [{"order_handle": "<order_handle>", "type":"<pick/drop>", "type_index": 0}] where order_handle is a required field'
        schema:
          type: string
          minLength: 1
        required: true
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EstimateRouteResponse'
              example: {}
          description: Successful response
        '401':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPError'
          description: Authentication error
        '422':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Validation error
      tags:
      - Orders
      summary: Estimate Route
      description: Get the estimate route information for a sequence of orders
      security:
      - BasicAuth: []
      - TokenAuth: []
  /orders/{order_handle}:
    get:
      parameters:
      - in: path
        name: order_handle
        schema:
          type: string
        required: true
      - in: query
        name: fulfillment_attempt
        description: Number identifying the attempt count for the order
        schema:
          type:
          - integer
          - 'null'
        required: false
      - in: query
        name: on_shift_only
        description: Flag to fetch only data related to on-shift.
        schema:
          type:
          - boolean
          - 'null'
        required: false
      - in: query
        name: from_time
        description: ISO 8601 datetime indicating the start time to be used for fetching order timeline
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: to_time
        description: ISO 8601 datetime indicating the end time to be used for fetching order timeline
        schema:
          type:
          - string
          - 'null'
        required: false
      - in: query
        name: allow_mocked_events
        description: Flag to allow mocked events in the response
        schema:
          type:
          - boolean
          - 'null'
        required: false
      - in: query
        name: device_id
        description: Optional device identifier for fetching the order timeline from a specific order-associated device
        schema:
          type:
          - string
          - 'null'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetOrderTimelineResponse'
              example:
                order_handle: order-1
                fulfillment_attempt: 0
                status: completed
                destination:
                  geometry:
                    type: Point
                    coordinates:
                    - -118.311286
                    - 34.0696579
                  address: '250 S St Andrews Pl,  Los Angeles, CA 90004,US '
                  radius: 100
                ops_group_handle: store-la
                track_mode: on_time
                plan_mode: scheduled
                risk_status: true
                risks:
                  moving_away_from_destination: red
                  is_offline: green
                  delayed_from_scheduled_at: green
                  deviating_from_expected_route: yellow
                  in_outage: green
                  moving_too_slow: green
                  delayed_from_initial_eta: green
                  in_low_battery: green
                scheduled_at: 2023-10-24 03:00:00+00:00
                started_at: 2023-10-23 21:30:46.980000+00:00
                arrived_at: 2023-10-23 21:53:05.585000+00:00
                type: drop
                type_index: 0
                expected_service_time: 0
                actual_service_time: 10119
                tracked_service_time: 9998
                capacity_used: 1
                metadata:
                  cancellation_options:
                  - Cancelled order
                  - Other
                  reschedule_options:
                  - No access/gate code
                  - Customer not responsive
                  - Other
                  completion_options:
                  - Handed to customer
                  vendorName: Macys
                  customerName: John
                region:
                  country: United States
                  city: Los Angeles
                  state: California
                share_url: https://trck.at/3ir0a9j6nX
                completed_at: 2023-10-23 23:21:04.653000+00:00
                device_id: 2F659D4D-B524-45F0-A6E2-093CF2BB5574
                worker_handle: james@ht.com
                created_at: 2023-10-23 19:09:27.904000+00:00
                assigned_at: 2023-10-23 19:25:15.604000+00:00
                route_handle: 8c167253-3a4f-4f3c-95a4-4192a22f55d4
                plan_id: c3309b8f-759c-4dbb-94tf-d3b09ee5hfa7
                distance: 5295
                duration: 1432
                tracking_rate: 0.99
                polyline:
                  type: LineString
                  coordinates:
                  - - -118.35453
                    - 34.063622
                    - 21.9
                    - 2023-10-23 22:58:24.730000+00:00
                  - - -118.35453
                    - 34.063622
                    - 21.9
                    - 2023-10-23 22:58:39.796000+00:00
                  - - -118.354519
                    - 34.063603
                    - 22.1
                    - 2023-10-23 22:58:43.028000+00:00
                  - - -118.354519
                    - 34.063603
                    - 22.1
                    - 2023-10-23 22:58:48.250000+00:00
                  - - -118.354518
                    - 34.063605
                    - 22.1
                    - 2023-10-23 22:58:48.251000+00:00
                  - - -118.354635
                    - 34.06361
                    - 22.1
                    - 2023-10-23 22:58:48.407000+00:00
                  - - -118.354635
                    - 34.06361
                    - 22.1
                    - 2023-10-23 22:59:08.931000+00:00
                  - - -118.35464
                    - 34.06361
                    - 22.1
                    - 2023-10-23 22:59:08.931000+00:00
                  - - -118.354635
                    - 34.06362
                    - 22.1
                    - 2023-10-23 22:59:08.932000+00:00
                  - - -118.354646
                    - 34.064719
                    - 22.1
                    - 2023-10-23 22:59:12.048000+00:00
                  - - -118.354646
                    - 34.064719
                    - 22.1
                    - 2023-10-23 22:59:14.189000+00:00
                  - - -118.354572
                    - 34.064717
                    - 22.1
                    - 2023-10-23 22:59:14.190000+00:00
                  - - -118.354647
                    - 34.064739
                    - 22.1
                    - 2023-10-23 22:59:14.229000+00:00
                  - - -118.354649
                    - 34.064749
                    - 22.1
                    - 2023-10-23 22:59:24.259000+00:00
                  - - -118.354649
                    - 34.064749
                    - 22.1
                    - 2023-10-23 22:59:26.583000+00:00
                  - - -118.35459
                    - 34.064765
                    - 22.1
                    - 2023-10-23 22:59:26.584000+00:00
                  - - -118.354654
                    - 34.064769
                    - 22.1
                    - 2023-10-23 22:59:26.705000+00:00
                  - - -118.354658
                    - 34.064785
                    - 22.1
                    - 2023-10-23 22:59:36.749000+00:00
                  - - -118.35468
                    - 34.06488
                    - 22.1
                    - 2023-10-23 22:59:37.740000+00:00
                  - - -118.3545
                    - 34.064883
                    - 22.1
                    - 2023-10-23 22:59:39.030000+00:00
                  - - -118.35436
                    - 34.064882
                    - 22.1
                    - 2023-10-23 22:59:41.050000+00:00
                  - - -118.35414
                    - 34.064882
                    - 23.75
                    - 2023-10-23 22:59:43.040000+00:00
                  - - -118.35388
                    - 34.064882
                    - 25.28
                    - 2023-10-23 22:59:45.028000+00:00
                  - - -118.3536
                    - 34.064882
                    - 26.29
                    - 2023-10-23 22:59:47.030000+00:00
                  - - -118.3536
                    - 34.064882
                    - 26.29
                    - 2023-10-23 22:59:48.546000+00:00
                  - - -118.35312
                    - 34.064882
                    - 29.1
                    - 2023-10-23 22:59:50.768000+00:00
                  - - -118.35238
                    - 34.064877
                    - 29.1
                    - 2023-10-23 22:59:55.023000+00:00
                  - - -118.35172
                    - 34.064884
                    - 26.2
                    - 2023-10-23 23:00:01.030000+00:00
                  - - -118.35172
                    - 34.064884
                    - 26.2
                    - 2023-10-23 23:00:11.948000+00:00
                  - - -118.3517
                    - 34.064884
                    - 25.11
                    - 2023-10-23 23:00:11.949000+00:00
                  - - -118.35169
                    - 34.064884
                    - 25.11
                    - 2023-10-23 23:00:12.067000+00:00
                  - - -118.35169
                    - 34.064887
                    - 25.11
                    - 2023-10-23 23:00:32.139000+00:00
                  - - -118.351659
                    - 34.064887
                    - 25.11
                    - 2023-10-23 23:00:32.140000+00:00
                  - - -118.35117
                    - 34.064885
                    - 29.1
                    - 2023-10-23 23:00:35.044000+00:00
                  - - -118.35076
                    - 34.064884
                    - 29.1
                    - 2023-10-23 23:00:38.036000+00:00
                  - - -118.350489
                    - 34.064887
                    - 29.1
                    - 2023-10-23 23:00:40.039000+00:00
                  - - -118.350489
                    - 34.064887
                    - 29.1
                    - 2023-10-23 23:00:40.281000+00:00
                  - - -118.35029
                    - 34.064885
                    - 29.1
                    - 2023-10-23 23:00:41.479000+00:00
                  - - -118.34963
                    - 34.06489
                    - 29.1
                    - 2023-10-23 23:00:46.038000+00:00
                  - - -118.34901
                    - 34.064891
                    - 31.09
                    - 2023-10-23 23:00:50.041000+00:00
                  - - -118.34841
                    - 34.064888
                    - 31.73
                    - 2023-10-23 23:00:54.020000+00:00
                  - - -118.34777
                    - 34.064892
                    - 32.81
                    - 2023-10-23 23:00:58.029000+00:00
                  - - -118.34743
                    - 34.064894
                    - 29.1
                    - 2023-10-23 23:01:11.609000+00:00
                  - - -118.347427
                    - 34.06489
                    - 29.1
                    - 2023-10-23 23:01:17.449000+00:00
                  - - -118.347426
                    - 34.064892
                    - 29.1
                    - 2023-10-23 23:01:17.450000+00:00
                  - - -118.34743
[...]
